{% include "admin/header.html" %}

    <div class="main-container">
        <div class="padding">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="admin">首页</a>
                <a class="breadcrumb-item" href="#ctf_man">用户管理</a>
                <a class="breadcrumb-item" href="/man_group">队伍管理</a>
                <span class="breadcrumb-item active">队伍成员</span>
            </nav>
        </div>
        <div class="padding">
            <div class="box">
                <div class="heading">
                    <h3 class="title">队伍信息</h3>
                </div>
                <div class="box-inner">
                    <p>队伍名称:&nbsp;<span class="text-info">JJUSEC</span></p>
                    <p>队伍人数:&nbsp;<span class="text-info">3</span>人</p>
                    <p>队伍简介:&nbsp;<span class="text-info">我们是JJUSEC团队</span></p>
                </div>
            </div>
        </div>
        <div class="padding">
            <div class="box">
                <div class="heading"></div>
                <div class="box-inner">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><input type="checkbox" class="all-cb"></th>
                                <th>队伍名</th>
                                <th>队员</th>
                                <th>角色</th>
                                <th>加入时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><input type="checkbox" class="child-cb"></td>
                                <td>1</td>
                                <td>2</td>
                                <td><span class="label label-info">3</span></td>
                                <td></td>
                                <td>
{#                                    <a href="/manGroupInfo?4">查看</a>#}
                                    <a href="#" onclick="delUserGroup()" class="link-show-confirm">踢出队伍</a>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include "admin/footer.html" %}