{% include "admin/header.html" %}
<div class="main-container">
        <div class="padding">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="/admin">首页</a>
                <a class="breadcrumb-item" href="#man_user">用户管理</a>
                <a class="breadcrumb-item" href="/man_user">参赛选手</a>
                <span class="breadcrumb-item active">修改信息</span>
            </nav>
        </div>
        <div class="padding">
            <div class="box">
                <div class="heading">
                    <h3 class="title">修改公告</h3>
                </div>
                <div class="box-inner">

                   <div class="row">
                            <div class="col-md-12">
                                <form method="post" action="/man_user_change_save">
                                    <div class="form-group">
                                        <label>用户名:</label>
                                        <input type="text" name="user_name" value="{{ userinfo[0] }}">
                                    </div>
{#              sql = 'select user_id,real_name,role,status,email,mobile,class_id,user_photo from user where id=%d'%(id)#}

                                    <div class="form-group">
                                        <label>真实姓名:</label>
                                        <input type="text" name="real_name" value="{{ userinfo[2] }}">
                                    </div>
                                    <div class="form-group">
                                        <label>班级:</label>
                                        <input type="text" name="cid" value="{{ userinfo[7] }}">
                                    </div>
                                    <div class="form-group">
                                        <label>邮箱:</label>
                                        <input type="email" name="email" value="{{ userinfo[5] }}">
                                    </div>
                                    <div class="form-group">
                                        <label>电话:</label>
                                        <input type="text" name="mobile" value="{{ userinfo[6] }}">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-info">确认修改</button>
                                    </div>
                                </form>
                            </div>


                        </div>

                </div>
            </div>
        </div>

</div>

{% include "admin/footer.html" %}