     .border_contain{
            /*border:*/
            border: 2px solid green;
            margin: 10px;
        }

        .modal_marger{
            margin: 4px;
        }

        .font_Size{
            font-size: 20px;
        }
        body {
        /*background-color: #122b40;*/
        /*    background: #122b40;*/
        /*    background-color: #f0f2f4;*/

            /*background-color: #333;*/
        }

        .container{
            /*background-color: #f0f2f4;*/
            /*background-color: #122b40;*/
            /*background-color: #122b40;*/
        }


