{% include "admin/header.html" %}
<div class="main-container">
        <div class="padding">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="/admin">首页</a>
                <a class="breadcrumb-item" href="/admin_notice">公告管理</a>
                <span class="breadcrumb-item active">修改公告</span>
            </nav>
        </div>
        <div class="padding">
            <div class="box">
                <div class="heading">
                    <h3 class="title">修改公告</h3>
                </div>
                <div class="box-inner">

                   <div class="row">
                            <div class="col-md-12">
                                <form method="post" action="/changeUserNotice">
                                    <div class="btn-group">
                                        <input type="text" name="n_id" value="{{ notice[0] }}" hidden class=" hidden" >
                                        </div>
                                    <div class="form-group">
                                        <label for="">公告:</label>
                                        <textarea class="form-control" placeholder="{{ notice[1] }}"  name="info" rows="4" id=""></textarea>
                                    </div>
                                <div class="btn-group">
                                <button type="submit"  class="btn btn-info">发布</button>
                                </div>
                                </form>
                            </div>


                        </div>

                </div>
            </div>
        </div>

</div>

{% include "admin/footer.html" %}