  <footer class="main-footer" style="color: #fff;background-color: #1c2b36" >
        <p>Powered By JJUCTF</p>
    </footer>
</div>

{#<div class="scroll-to-top"><i class="fa fa-chevron-up fa-lg"></i></div>#}
{#<script src="/static/admin/jquery/jquery-3.1.1.min.js"></script>#}
{#<script src="/static/admin/bootstrap/js/bootstrap.min.js"></script>#}
  <script src="/static/js/bootstrap.min.js"></script>
      <script src="/static/js/axios.min.js"></script>
    <script src="/static/js/vue.js"></script>

{#<script src="static/admin/bootstrap-daterangepicker/moment.min.js"></script>#}
{#<script src="static/admin/bootstrap-daterangepicker/daterangepicker.js"></script>#}
<script src="/static/admin/js/main.js"></script>
</body>
</html>