{% include "admin/header.html" %}
    <div class="main-container">


        <div class="padding">
              <nav class="breadcrumb">
                <span class="breadcrumb-item active" >首页</span>
            </nav>
        </div>

                <div class="padding">
            <div class="box">
                <div class="heading">
                    <h3 class="title">概览</h3>
                </div>
                <div class="box-inner">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="box-label-block theme">
                                <div class="symbol">
                                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title">队员总数</h4>
                                    <p>{{ userNum }}</p>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="box-label-block theme">
                                <div class="symbol">
                                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title">队伍总数</h4>
                                    <p>{{ groupNum }}</p>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="box-label-block terques">
                                <div class="symbol">
                                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title">答题总数</h4>
                                    <p>66</p>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <section class="box-label-block terques">
                                <div class="symbol">
                                    <i class="fa fa-area-chart" aria-hidden="true"></i>
                                </div>
                                <div class="content">
                                    <h4 class="title">答对总数</h4>
                                    <p>{{ user_Challenge_List_Num }}</p>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding">
            <div class="box">
                <div class="heading">
                <h3 class="title">状态</h3>
            </div>
            <div class="box-inner">
                <div id="main" style="width: 100%;height:400px;"></div>
            </div>
            </div>

        </div>

        <div class="padding">
            <div class="box">
                <div class="box-inner">
                    <div id="echart2" style="width: 100%;height: 400px"></div>
                </div>
            </div>
        </div>

    </div>




         <!-- 为ECharts准备一个具备大小（宽高）的Dom -->

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
      function randomData() {
    now = new Date(+now + oneDay);
    value = value + Math.random() * 21 - 10;
    return {
        name: now.toString(),
        value: [
            [now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'),
            Math.round(value)
        ]
    };
}

var data = [];
var now = +new Date(2020, 9, 3);
var oneDay = 24 * 3600 * 1000;
var value = Math.random() * 1000;
for (var i = 0; i < 1000; i++) {
    data.push(randomData());
}

var option = {
    title: {
        text: '流量监控'
    },
    tooltip: {
        trigger: 'axis',
        formatter: function (params) {
            params = params[0];
            var date = new Date(params.name);
            return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' : ' + params.value[1];
        },
        axisPointer: {
            animation: false
        }
    },
    xAxis: {
        type: 'time',
        splitLine: {
            show: false
        }
    },
    yAxis: {
        type: 'value',
        boundaryGap: [0, '100%'],
        splitLine: {
            show: true
        }
    },
    series: [{
        name: '模拟数据',
        type: 'line',
        showSymbol: false,
        hoverAnimation: false,
        data: data
    }]
};

setInterval(function () {

    for (var i = 0; i < 5; i++) {
        data.shift();
        data.push(randomData());
    }

    myChart.setOption({
        series: [{
            data: data
        }]
    });
}, 1000);




        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
<hr>



<script>
    var myChart1 = echarts.init(document.getElementById('echart2'));
    $.ajax({
        url: '/get_ctf_type',
        success:function (data) {
            json_data=JSON.parse(data)
            var option = {
                title: {
                    text: '网络靶场题型占比',
                    subtext: 'JJUCTF',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{a} <br/>{b} : {c} ({d}%)'
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: json_data['typename']
                },
                series: [
                    {
                        name: '访问来源',
                        type: 'pie',
                        radius: '55%',
                        center: ['50%', '60%'],
                        data: json_data['type_num'],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            myChart1.setOption(option);
        }
    })
        </script>



<script>
    $(document).ready(function () {
        function  getData() {
            $.ajax({
                url: '/test',
                data: {},
                type: 'POST',
                async: false,
                dataType: 'json',
                success: function (data) {

                },
                success: function (data) {
                }
            })
        }
    })
</script>

{% include "admin/footer.html" %}
