{% include "admin/header.html" %}

    <div class="main-container">
        <div class="padding">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="admin">首页</a>
                <a class="breadcrumb-item" href="#">用户管理</a>
                <span class="breadcrumb-item active">队伍管理</span>
            </nav>
        </div>
        <div class="padding">
            <div class="box">
                <div class="heading">
                    <h3 class="title">队伍列表</h3>
                </div>
                <div class="box-inner">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><input type="checkbox" class="all-cb"></th>
                                <th>队伍id</th>
                                <th>队伍名</th>
                                <th>简介</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in groupList %}
                            <tr>
                                <td><input type="checkbox" class="child-cb"></td>
                                <td>{{ i[0] }}</td>
                                <td>{{ i[1] }}</td>
                                <td><span class="label label-info">{{ i[2] }}</span></td>
                                <td>{{ i[3] }}</td>
                                <td>
                                    <a href="/manGroupInfo?gid={{ i[0] }}">查看</a>
                                    <a href="#" onclick="delUserGroup({{ i[0] }})" class="link-show-confirm">删除</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div><!--box inner-->
            </div>
        </div>
       <script>
           function delUserGroup(id){
               var result = confirm("确定删除这个队伍?");
               if(result==true){
                   $.ajax({
                       url: "/delUserGroup",
                       type: "post",
                       data: {"id":id},
                       success: function (result) {
                           if (result == "1") {
                               alert("删除成功");
                               window.location.reload()
                           }
                           else{
                               alert("删除失败！请检查该队伍是否已经添加过成员")
                           }
                           },
                       error:function () {
                           alert("发送请求失败");
                       }
                   })
               };

    };
       </script>
    </div>
        {% include "admin/footer.html" %}
