{% include "admin/header.html" %}

<style>
    .modal_location{
        top: 21%;

    }


</style>
    <div class="main-container">
        <div class="padding">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="admin">首页</a>
                <a class="breadcrumb-item" href="#awd_man">AWD管理</a>
                <span class="breadcrumb-item active">题目管理</span>
            </nav>
        </div>

        <div class="padding">
            <div class="box">
                <div class="heading">
                    <h3 class="title">题目管理</h3>
                </div>
                <div class="box-inner">
                    <div class="btn-group">
                        <input  type="button" value="上传题目" class="btn btn-info" data-toggle="modal" data-target="#upload_awd_exam">
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-primary text-light" data-toggle="modal" data-target="#init_awd_score">初始化分数</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal_location" id="upload_awd_exam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content awd-modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-info">创建题目</h4>
                        <button type="button" class="close text-light" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="nav nav-tabs" role="tablist">
			                        <li class="nav-item"><a class="nav-link active" href="#images_id" data-toggle="tab">images ID 创建</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#rule" data-toggle="tab">其他</a></li>
                                </ul>
                                <div id="mytab-content" class="tab-content">
                                    <div class="tab-pane active" id="images_id">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p><span class="text-danger">注意: </span>请提供Docker容器内EXPOSE的端口号，格式如: 22,8080</p>
                                                <form enctype="multipart/form-data" method="post">
                                                    <label>AWD 镜像id</label>
                                                    <p><input type="text" name="cid" ></p>
                                                    <hr>
                                                    <p><input type="text" name="ssh_port" placeholder="ssh端口号"></p>
                                                    <p><input type="text" name="ssh_port" placeholder="Linux容器用户名"></p>
                                                    <p><input type="text" name="other_port" placeholder="其他端口，如80,8080"></p>
                                                    <button class="btn btn-info" type="submit">构建题目</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="rule">
                                         <p><span class="text-danger">注意: </span>请将靶场做成zip压缩包格式后上传，并且docker-compose.yml文件要在首目录中。</p>
                                            <p class="text-info">xxx.zip</p>
                                            <p>|解压</p>
                                            <p class="text-success">|--> src</p>
                                            <p class="text-success">|-->docker-compose.yml</p>
                                            <br>
                                            <form enctype="multipart/form-data" method="post">
                                                <input type="text" name="docker_name" placeholder="题目名称">
                                                <input type="file" name="zipfile">
                                                <button type="submit">上传</button>
                                            </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

            <div class="modal fade modal_location" id="init_awd_score" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content awd-modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title text-primary">初始化队伍分数</h4>
                        <button type="button" class="close text-light" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p><span class="text-danger">注意: </span>初始化分数，默认5000</p>
                                <form  method="post">
                                    <label>分数</label>
                                    <p><input type="text" name="init_awd_score" placeholder="5000"></p>
                                    <button class="btn btn-info" type="submit">构建题目</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="padding">
            <div class="box">
                <div class="heading">
                    <h3 class="title">题目列表</h3>
                </div>
{#                `group_id`, `id`, `ctf_exam_id`, `name`, `score`--4, `hint`, `type`--6, `docker_flag`, `docker_id`,`docker_info`--9, `file_flag`, `file_path`, `flag`, `date`#}
                <div class="box-inner">
                     <table class="table table-bordered table-striped">
                         <thead>
                         <tr style="color: #005cbf">
                             <th width="10%"><input type="checkbox" class="all-cb"></th>
                             <th width="25%">题目名称</th>
                             <th width="25%">容器ID</th>
                             <th width="">构建时间</th>
                             <th>操作</th>
                         </tr>
                         </thead>
                         <tbody>
                         {% for i in awd_exam_table %}
                         <tr>
                             <td><input type="checkbox" class="all-cb"></td>
                             <td>{{ i[1] }}</td>
                             <td>{{ i[2] }}</td>
                             <td>{{ i[3] }}</td>
                             <td>
                                 <a href="/man_awd_exam_detail?id={{ i[0] }}"><button type="button" class="btn  btn-success" onclick="">更多</button></a>
                                 <button type="button" class="btn btn-info" onclick="start_instance('{{ i[2] }}')">开启题目</button>
                                 <button type="button" class="btn btn-xs  btn-danger" onclick="">关闭题目</button></td>
                         </tr>
                         {% endfor %}
                         </tbody>
                     </table>
                </div>
            </div>
        </div>



    </div>
<script>
    function start_instance(id) {
        $.ajax({
            url: "/start_awd_instance",
            type: "post",
            data: {"image_id": id,},
            success: function (result) {
                if (result.status == '1') {
                    alert('开启成功');
                    window.location.href = '/man_awd_exam';
                }
                else {
                    if (result.status == '20') {
                    alert(result.message);
                    {#window.location.href = '/man_awd_exam';#}
                    }
                }
            },
            error:function () {
                alert("发送请求失败，请检查网络链接状况！");
            }
        })
    }
</script>
   {% include "admin/footer.html" %}