{% include "admin/header.html" %}
<style>
    .modal_location{
        top: 26%;

    }
</style>
    <div class="main-container">
        <div class="padding">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="admin">首页</a>
                <a class="breadcrumb-item" href="#ctf_man">AWD管理</a>
                <span class="breadcrumb-item active">题目管理</span>
            </nav>
        </div>
{#            table#}
        <div class="padding">
            <div class="box">
                <div class="heading">
                    <h3 class="title">配置信息</h3>
                </div>
                <div class="box-inner">
                    <table class="table table-bordered">
                        <tr>
                            <td>比赛开始时间</td>
                            <td class="text-info">2021-01-05 00:00:00</td>
                        </tr>
                        <tr>
                            <td>比赛结束时间</td>
                            <td class="text-info">2021-01-06 00:00:00</td>
                        </tr>
                        <tr>
                            <td>Check 时间间隔</td>
                            <td class="text-info">2分钟</td>
                        </tr>
                        <tr>
                            <td>Check Down扣分</td>
                            <td class="text-info">50</td>
                        </tr>
                        <tr>
                            <td>更新flag间隔</td>
                            <td class="text-info">30分钟</td>
                        </tr>
                        <tr>
                            <td>提交Flag得分</td>
                            <td class="text-info">50</td>
                        </tr>
                        <tr>
                            <td>Salt</td>
                            <td class="text-info">FASDFSADFsaasfASDF234dfasfas234</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="padding">
            <div class="box">
                <div class="heading">
                    <h3 class="title">配置</h3>
                </div>
                <div class="box-inner">
                    <form>
                        <table class="table table-bordered">
                        <tr>
                            <td>比赛开始时间</td>
                            <td class="text-info"><input type="datetime-local" placeholder="2021-01-05 00:00:00"></td>
                        </tr>
                        <tr>
                            <td>比赛结束时间</td>
                            <td class="text-info"><input type="datetime-local" placeholder="2021-01-05 00:00:00"></td>
                        </tr>
                        <tr>
                            <td>Check 时间间隔</td>
                            <td class="text-info"><input type="text"> 分钟</td>
                        </tr>
                        <tr>
                            <td>Check Down扣分</td>
                            <td class="text-info"><input type="text"></td>
                        </tr>
                        <tr>
                            <td>更新flag间隔</td>
                            <td class="text-info"><input type="text"> 分钟</td>
                        </tr>
                        <tr>
                            <td>提交Flag得分</td>
                            <td class="text-info"><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Salt</td>
                            <td class="text-info"><input type="text"></td>
                        </tr>
                    </table>
                        <button class="btn btn-primary" type="submit">提交配置</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
   {% include "admin/footer.html" %}