{% include "admin/header.html" %}

    <div class="main-container">
        <div class="padding">
              <nav class="breadcrumb">
                <a class="breadcrumb-item" href="admin">首页</a>
                <a class="breadcrumb-item" href="#">用户管理</a>
                <span class="breadcrumb-item active">选手</span>
            </nav>
        </div>

        <div class="padding">
              <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="center">
                        <label>
                            <input type="checkbox" class="ace" />
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th>用户ID</th>
                    <th>用户名</th>
                     <th>真实姓名</th>
                    <th>班级</th>
                    <th>邮箱</th>
                    <th>电话</th>
                    <th class="hidden-480">状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for i in userList %}
                <tr>
                    <td class="center">
                        <label>
                            <input type="checkbox" class="ace" />
                            <span class="lbl"></span>
                        </label>
                    </td>
                  <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                    <td>{{ i[4] }}</td>
                    <td>{{ i[5] }}</td>
                    <td class="hidden-480">
                        <span class="label label-sm label-success">正常</span>
                    </td>
                    <td>
                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                            <button class="btn btn-xs btn-success">
                                <i class="icon-ok bigger-120">修改信息</i>
                            </button>
                            <button class="btn btn-xs btn-info">
                                <i class="icon-edit bigger-120">重置密码</i>
                            </button>
                            <button class="btn btn-xs btn-danger">
                                <i class="icon-trash bigger-120">删除账户</i>
                            </button>
                            <button class="btn btn-xs btn-warning">
                                <i class="icon-flag bigger-120">禁用账户</i>
                            </button>
                        </div>

                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

   {% include "admin/footer.html" %}