{% include "admin/header.html" %}

    <div class="main-container">
        <div class="padding">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="admin">首页</a>
{#                <a class="breadcrumb-item" href="#">上传靶场</a>#}
                <span class="breadcrumb-item active">系统配置</span>
            </nav>
        </div>
        <div class="padding">
            <div class="box" id="box-fix">
                <div class="heading">
                    <h3 class="title">登录信息</h3>
                </div>

                <div class="box-inner">
                    <p>用户名：<span  class="text-success">{{ adminname }}</span></p>
                    <p>登录ip：<span  class="text-success">{{ admin_ip }}</span></p>
                    <p>登录设备：<span class="text-success">{{ user_agent }}</span></p>
                </div>
            </div>
        </div>
        <div class="padding">
            <div class="box" id="box-fix">
                <div class="heading">
                    <h3 class="title">版本信息</h3>
                </div>

                <div class="box-inner">
                    <p>JJUCTF实训平台版本号：<span  class="text-success">V1.0.0</span></p>
{#                    <p>登录ip：<span  class="text-success">{{ admin_ip }}</span></p>#}
                </div>
            </div>
        </div>
        <div class="padding">
            <div class="box" id="box-fix">
                <div class="heading">
                    <h3 class="title">系统信息</h3>
                </div>

                <div class="box-inner">
                    <p>操作系统：&nbsp;<span class="text-success">{{ system_info['system_os'] }}</span></p>
{#                    <p>内核版本：&nbsp;<span  class="text-success">5.9.11-3-MANJARO</span></p>#}
                    <p>Python版本：&nbsp;<span  class="text-success">{{ system_info['python_version'] }}</span></p>
                    <p>数据库版本：&nbsp;<span  class="text-success">{{ system_info['sql_version'] }}</span></p>
                    <p>虚拟化：&nbsp;<span  class="text-success">{{ system_info['docker_version'] }}</span></p>

                </div>
            </div>
        </div>



    </div>

   {% include "admin/footer.html" %}