{% include "admin/header.html" %}

    <div class="main-container">
        <div class="padding">
            <ol class="breadcrumb">
                <li><a href="admin">首页</a></li>
                <li>上传靶场</li>
                <li class="active">AWD</li>
            </ol>
        </div>

        <div class="padding">
             <form role="form">
				<div class="form-group">
					 <label for="exampleInputEmail1">题目名称</label><input type="text" class="form-control" id="exampleInputEmail1" />
				</div>
           	<div class="form-group">
					 <label for="exampleInputEmail1">题目提示</label><input type="text" class="form-control" id="exampleInputEmail1" />
				</div>
           	<div class="form-group">
					 <label for="exampleInputEmail1">题目分值</label><input type="text" class="form-control" id="exampleInputEmail1" />
				</div>
            <div class="form-group">
                 <label for="exampleInputEmail1">题目类型</label>
           	<div class="btn-group dropdown" id="dropdown">

		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Web <span class="caret"></span>
		  </button>
		  <input type="hidden" name="hidedrop_1" id="hidedrop_1" value="Web" />
		  <ul class="dropdown-menu">
		    <li><a href="#">Web</a></li>
		    <li role="separator" class="divider"></li>
		    <li><a href="#">Misc</a></li>
		    <li role="separator" class="divider"></li>
		    <li><a href="#">Pwn</a></li>
		    <li role="separator" class="divider"></li>
		    <li><a href="#">Crypto</a></li>
              <li role="separator" class="divider"></li>
		    <li><a href="#">Reverse</a></li>
		  </ul>
		</div>
            </div>
{#				<div class="form-group">#}
{#					 <label for="exampleInputPassword1">题目属性</label><input type="text" class="form-control" id="exampleInputPassword1" />#}
{#				</div>#}
				<div class="form-group">
					 <label for="exampleInputFile">容器上传</label><input type="file" id="exampleInputFile" />
					<p class="help-block">
						这里上传容器，比如EasyPython.zip
					</p>
				</div>
           <div class="form-group">
					 <label for="exampleInputFile">上传附件</label><input type="file" id="exampleInputFile" />
					<p class="help-block">
						这里上传附件，比如misc.zip
					</p>
				</div>
				<button type="submit" class="btn btn-primary">确认上传</button>
			</form>
        </div>


    </div>

   {% include "admin/footer.html" %}