<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JJUCTF 网络安全靶场</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<div class="container">
			<a href="/" class="navbar-brand">
				JJUCTF
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#base-navbars"
					aria-controls="base-navbars" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="base-navbars">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/notifications">Notifications</a>
					</li>

						<li class="nav-item">
							<a class="nav-link" href="/users">Users</a>
						</li>
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
							   aria-haspopup="true" aria-expanded="true">Scoreboard</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/scoreboard">Single Scoreboard</a>
								<a class="dropdown-item" href="/plugins/affiliation/affiliations">Affiliations Scoreboard</a>
							</div>
						</li>


					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
							 aria-haspopup="true" aria-expanded="true">Challenges</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/challenges">Challenges</a>
							<a class="dropdown-item" href="/plugins/new-challenges/challenges">New Challenges</a>
							<a class="dropdown-item" href="/plugins/new-challenges/solves">New Solves</a>
							<a class="dropdown-item" href="/situation">Situation</a>
						</div>
					</li>
				</ul>

				<hr class="d-sm-flex d-md-flex d-lg-none">

				<ul class="navbar-nav ml-md-auto d-block d-sm-flex d-md-flex">
						<li class="nav-item">
							<a class="nav-link" href="/user">Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/settings">Settings</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/logout">Logout</a>
						</li>
				</ul>
			</div>
		</div>
	</nav>



	<footer class="footer">
		<div class="container text-center">
			<a href="http://beian.miit.gov.cn/publish/query/indexFirst.action">
				<small class="text-muted">赣ICP备19006714-3</small>
			</a>
			&nbsp;&nbsp;|&nbsp;&nbsp;

			<a href="https://ctfd.io">
				<small class="text-muted">Powered by JJUCTF</small>
			</a>
			&nbsp;&nbsp;|&nbsp;&nbsp;
			<a href="/contact">
				<small class="text-muted">Contact Us</small>
			</a>&nbsp;&nbsp;|&nbsp;&nbsp;
		</div>
	</footer>
</body>
</html>


{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>JJUCTF-login</title>#}
{#</head>#}
{#<body style="text-align: center">#}
{#登录成功，欢迎{{ name }}使用JJUCTF#}
{#<br>#}
{#<a href="user/challenge"><input type="button" value="答题模式"> </a><br>#}
{#<a href="#"><input type="button" value="AWD模式"> </a><br>#}
{#<a href="#"><input type="button" value="练习模式"> </a><br>#}
{#<a href="#"><input type="button" value="可视化战况页面"> </a>#}
{#</form>#}