{% include'user/header.html' %}
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>
                            注意!
                        </h4> <strong>1.</strong> 不能对平台进行拒绝服务攻击.
                         <br></h4> <strong>2.</strong> ...
                        <br></h4> <strong>3.</strong>  ... {# <a href="#" class="alert-link">alert link</a>#}
                    </div>
                </div>
                <div class="col-md-12 column">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                排名
                            </th>
                            <th>
                                用户
                            </th>
                            <th>
                                时间
                            </th>
                            <th>
                                状态
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                01/04/2012
                            </td>
                            <td>
                                提交了xxxflag
                            </td>
                        </tr>
                        <tr class="success">
                            <td>
                                1
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                01/04/2012
                            </td>
                            <td>
                                提交了xxxflag
                            </td>
                        </tr>
                        <tr class="error">
                            <td>
                                2
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                02/04/2012
                            </td>
                            <td>
                                Declined
                            </td>
                        </tr>
                        <tr class="warning">
                            <td>
                                3
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                03/04/2012
                            </td>
                            <td>
                                提交了xxxflag
                            </td>
                        </tr>
                        <tr class="info">
                            <td>
                                4
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                04/04/2012
                            </td>
                            <td>
                                提交了xxxflag
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix"  >
{#        style="float: none;display: block;margin-left: auto;margin-right: auto">#}
        <div class="col-md-3 column border_contain" >
            <div class="row">
                <h2 class="col-lg-6">
                    WEB1
                </h2>
                <h2 class="col-lg-6">
                    <p style="color: #2aabd2">200</p>
                </h2>
            </div>
            <p>
                ip:127.0.0.1 port:8080
            </p>
            <p>
                <a class="btn" href="#">Hint:xxx</a>
            </p>
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <button type="button" class="btn btn-default">开启实例</button>
                </div>
                <div class="col-md-6 column">
                    <button type="button" class="btn btn-default">重置</button>
                </div>
            </div>
            <div class="row clearfix">
                <input type="text" class="input-group " placeholder="flag..">
                <button type="button" class="btn btn-default btn-primary"  >提交</button>
            </div>
        </div>

        <div class="col-md-3 column border_contain">
            <div class="row">
                <h2 class="col-lg-6">
                    WEB2
                </h2>
                <h2 class="col-lg-6">
                    <p style="color: #2aabd2">200</p>
                </h2>
            </div>
            <p>
                ip:127.0.0.1 port:8080
            </p>
            <p>
                <a class="btn" href="#">Hint:xxx</a>
            </p>
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <button type="button" class="btn btn-default">开启实例</button>
                </div>
                <div class="col-md-6 column">
                    <button type="button" class="btn btn-default">重置</button>
                </div>
            </div>
            <div class="row clearfix">
                <input type="text" class="input-group "  placeholder="flag..">
                <button type="button" class="btn btn-default btn-primary ">提交</button>
            </div>
        </div>

        <div class="col-md-3 column border_contain" >
            <div class="row">
                <h2 class="col-lg-6">
                    PWN1
                </h2>
                <h2 class="col-lg-6">
                    <p style="color: #2aabd2">200</p>
                </h2>
            </div>
            <p>
                ip:127.0.0.1 port:8080
            </p>
            <p>
                <a class="btn" href="#">Hint:xxx</a>
            </p>
            <div class="row clearfix">
                <div class="col-md-6 column">
                    <button type="button" class="btn btn-default">开启实例</button>
                </div>
                <div class="col-md-6 column">
                    <button type="button" class="btn btn-default">重置</button>
                </div>
            </div>
            <div class="row clearfix">
                <input type="text" class="input-group " placeholder="flag..">
                <button type="button" class="btn btn-default btn-primary"  >提交</button>
            </div>
        </div>


    </div>
{% include'user/footer.html' %}