{% include'user/header.html' %}
<style>
    .ctf-group-card{
        border: 0.3rem solid #2c3e50;
        background-color: #0d1927;
        color: white;
    }
    .awd-card{
        border: 0.3rem solid #005cbf;
        background-color: #0d1927;
        color: white;
    }
</style>
<div  class="container-fluid" >
    <br>
       <div class="row">
        <div class="col-md-3">
            <div class="card ctf-group-card">
                <div class="card-header">队伍信息</div>
                <div class="card-body">
                    <div class="row">
                          <div class="col-md-12">战队名:JJUSEC</div>
                        <div class="col-md-12">战队token：<span style="color: red">432141328491237421jk1</span></div>
                        <div class="col-md-12">战队排名：1154</div>
                        <div class="col-md-12">解题数量：1</div>
                        <div class="col-md-12">得分：9</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6" >
              <div class="card ctf-group-card">
                <div class="card-header">比赛公告</div>
                <div class="card-body">
                    <div class="row">
                         <span>1. 【最新】14:35 babyLWE更新附件，请重新下载。14:27 friendlyRE更新附件，请重新下载。</span><br>
                <span>2.  本届赛事期间，请大家留意裁判人员的电话（尾号2710），并积极配合，如果以任何理由拒接，无法沟通以及不配合裁判质询要求，将进行禁赛处理。比赛期间禁止以任何形式进行跨队交流，一起维护公平、清朗的竞赛环境。</span><br>
                <span>3. 比赛时间：2020年12月26日10：00-18：00</span><br>
                <span>4. 本次比赛进行严格的作弊审查制度，所有破坏比赛公平性的行为一经发现确认，将取消比赛成绩。</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="card ctf-group-card">
                <div class="card-header">解题动态</div>
                <div class="card-body">
                    <ul class="nav ">
                        <li class="nav-item nav-divider">宝宝战队-</li>
                        <li class="nav-item">解出了-</li>
                        <li class="nav-item">问卷调查-</li>
                        <li class="nav-item">17:59</li>
                    </ul>
                    <ul class="nav ">
                        <li class="nav-item nav-divider">宝宝战队-</li>
                        <li class="nav-item">解出了-</li>
                        <li class="nav-item">问卷调查-</li>
                        <li class="nav-item">17:59</li>
                    </ul>
                    <ul class="nav ">
                        <li class="nav-item nav-divider">宝宝战队-</li>
                        <li class="nav-item">解出了-</li>
                        <li class="nav-item">问卷调查-</li>
                        <li class="nav-item">17:59</li>
                    </ul>
                    <ul class="nav ">
                        <li class="nav-item nav-divider">宝宝战队-</li>
                        <li class="nav-item">解出了-</li>
                        <li class="nav-item">问卷调查-</li>
                        <li class="nav-item">17:59</li>
                    </ul>
                </div>
            </div>
                    <!--
                    <div class="btn-group text-center">
                    <button type="button" class="btn btn-success btn-lg">问题反馈</button>
                    </div>
                    <div class="btn-group text-right">
                    <button type="button" class="btn btn-warning btn-lg">比赛未开始</button>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-9 col-xl-9 col-sm-12">
            <div class="card-deck">
                <div class="card awd-card " style="background-color:  #1c2b36;color: #ffffff">
                    <div class="card-header" style="position: relative">
                            <div class="" style="float: left"><b>Test 2</b></div>
                            <div class="" style="float: right;color: #B0C4DE;font-size: 20px">300</div>
                    </div>
                    <div class="card-body  ">
                        <div class="row">
                            <div class="col-md-6">题目: <b>WEB2</b></div>
                            <div class="col-md-6">分值300</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" >
                                链接: <a  href="#">http://127.0.0.1:1235</a>
                            </div>
                            <div class="col-md-12" >
                                   Hint: <a>This is easy WEB2</a>
                                </div>
                               <div class="col-md-12" >
                                   附件: <a  href="#">http://127.0.0.1:1235/web2.zip</a>
                                </div>
                           </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 btn input-group">
                                <input type="text" class=""  placeholder="flag{...}">
                                <button class="btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="card awd-card " style="background-color:  #1c2b36;color: #ffffff">
                    <div class="card-header" style="position: relative">
                            <div class="" style="float: left"><b>Test 2</b></div>
                            <div class="" style="float: right;color: #B0C4DE;font-size: 20px">300</div>
                    </div>
                    <div class="card-body  ">
                        <div class="row">
                            <div class="col-md-6">题目: <b>WEB2</b></div>
                            <div class="col-md-6">分值300</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" >
                                链接: <a  href="#">http://127.0.0.1:1235</a>
                            </div>
                            <div class="col-md-12" >
                                   Hint: <a>This is easy WEB2</a>
                                </div>
                               <div class="col-md-12" >
                                   附件: <a  href="#">http://127.0.0.1:1235/web2.zip</a>
                                </div>
                           </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 btn input-group">
                                <input type="text" class=""  placeholder="flag{...}">
                                <button class="btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="card awd-card " style="background-color:  #1c2b36;color: #ffffff">
                    <div class="card-header" style="position: relative">
                            <div class="" style="float: left"><b>Test 2</b></div>
                            <div class="" style="float: right;color: #B0C4DE;font-size: 20px">300</div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">题目: <b>WEB2</b></div>
                            <div class="col-md-6">分值300</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" >
                                链接: <a  href="#">http://127.0.0.1:1235</a>
                            </div>
                            <div class="col-md-12" >
                                   Hint: <a>This is easy WEB2</a>
                                </div>
                               <div class="col-md-12" >
                                   附件: <a  href="#">http://127.0.0.1:1235/web2.zip</a>
                                </div>
                           </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 btn input-group">
                                <input type="text" class=""  placeholder="flag{...}">
                                <button class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-xl-3 col-sm-12">

             <div style="border: .2rem solid #31708f">
                 <h3 class="title text-center" style="color: #4ec3ff">比赛排名</h3>
                 <table class="table table-bordered">
{#                <caption>比赛排名</caption>#}
               <thead>
                  <tr>
                     <th style="border-color: #1c2b36;color: #87CEFA">排名</th>
                     <th style="border-color: #1c2b36;color: #87CEFA">队名</th>
                      <th style="border-color: #1c2b36;color: #87CEFA">积分</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                      <td style="border-color: #1c2b36;color: #87CEFA">1</td>
                      <td style="border-color: #1c2b36;color: #87CEFA">JJUSEC1</td>
                      <td style="border-color: #1c2b36;color: #87CEFA">5010</td>
                  </tr>
                  <tr>
                      <td style="border-color: #1c2b36;color: #87CEFA">2</td>
                      <td style="border-color: #1c2b36;color: #87CEFA">JJUSEC2</td>
                      <td style="border-color: #1c2b36;color: #87CEFA">5000</td>
                  </tr>
               </tbody>
            </table>
             </div>
        </div>
    </div>


    <p></p>
</div>
{% include'user/footer.html' %}