{% include'user/header.html' %}
<div  class="container" >
<style>
    .modal_fix{
    top: 22%;
    }
</style>
<script>
    function postflag(flagid,id){
        var a = document.getElementById(id.substring(1)).value;
        $.ajax({
                url: "/ajax",
                type: "post",
                data: {"flag": a},
                success: function (d) {
                    if (d == "1") {
                        alert("回答正确！");
                        $(flagid).html("回答正确");
                        $(flagid).attr("name","回答正确");
                        var aa = "#flag-"+id.substring(10)
                        {#alert(aa)#}
                        $(aa).attr("class","col-md-3 column border_contain color");


                    }
                    else{
                        alert("回答错误")
                    }},
             error:function () {

                alert("发送请求失败");
            }

            }
        )
}
</script>

<div  class="row justify-content-center bg-light " style="text-align: center;">
    <div class="row col-md-12 clearfix jumbotron "  style="display: inline-block;float: none;">
      <div>
            <h1>
            JJUCTF
        </h1>
        <p>
            由jjuctf团队搭建的网络安全靶场
        </p>
      </div>
    </div>
</div>
<div class="row clearfix" >
        <div class="col-md-12 column">
            <h3 >
               WEB
            </h3>
        </div>
    </div>
  <div class="row clearfix " >
    {% if challengeResult %}
    {% for i in challengeResult %}
    {% if i[4]==0 %}
        <div class="col-md-3">
            <div class="card " style="background-color:#A9A9A9;color: #ffffff;font-size: 17px" >
                <div class="card-header ">
                    <div class="card-group" style="float: left"><b>{{ i[1] }}</b></div>
                    <div class="card-group" style="float: right;color:#191970;font-size: 20px">400</div>
                </div>
           <div class="card-body">
                <div class="row">
                    <div class="col-md-12">{{ i[3] }}</div>
                    <div class="col-md-12">答题人数:0</div>
                </div>
               <p></p>
                <button class="btn btn-primary btn-lg btn-block" style="background-color: #696969;border-color: #696969" data-toggle="modal" data-target="#modal{{ i[0] }}">挑战</button>
           </div>
        </div>
        </div>
           <!-- 模态框（Modal） -->
    <div class="modal fade modal_fix" id="modal{{ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id=" myModalLabel">{{ i[1] }}</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body ">
                        <div class="row row-no-gutters font_Size modal_marger ">
                             <div class="col-md-12">解题人数:<span class="modal_marger">0</span></div>
                            <div class="col-md-12">题目名称:<span class="modal_marger">{{ i[1] }}</span></div>
                             <div class="col-md-12">题目描述:<span class="modal_marger" href="static/">{{ i[3] }}</span></div>
                            <div class="col-md-12">题目附件:<a class="modal_marger" href="static/">附件1</a></div>

                              <div class="col-md-12">
                                 <div class="card" style="width: 100%;">
                                     <div class="card-body ">
                                         <h5 class="card-title text-center">web info</h5>
                                         <button type="button" class="btn btn-primary card-link " style="width: 100%" onclick="">开启实例</button>
                                     </div>
                                 </div>
                             </div>
                        </div>
                        <div class="row row-no-gutters font_Size modal_marger" id="flag{{ i[0] }}" style="height:20%" >
                                    <div class="input-group col-md-12 modal_marger btn-group">
                                        <input  id="flag{{ i[0] }}1" type="text" name="flag" autocomplete="off" placeholder="flag.." >
                                        <button type="submit"  class="btn btn-dark  " onclick="postflag('#flag{{ i[0] }}','#flag{{ i[0] }}1')">提交</button>
                                    </div>
                        </div>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->
    {% endif  %}
    {% endfor %}
    {% endif %}
    </div>

        <div class="row clearfix">
            <div class="col-md-12  column  ">
                <h3 class="">MISC</h3>
            </div>
        </div>
    <div class="row clearfix " >
    {% if challengeResult %}
    {% for i in challengeResult %}
    {% if i[4]==1 %}
        <div class="col-md-3">
            <div class="card " style="background-color:#A9A9A9;color: #ffffff;font-size: 17px" >
                <div class="card-header ">
                    <div class="card-group" style="float: left"><b>{{ i[1] }}</b></div>
                    <div class="card-group" style="float: right;color:#191970;font-size: 20px">400</div>
                </div>
           <div class="card-body">
                <div class="row">
                    <div class="col-md-12">{{ i[3] }}</div>
                    <div class="col-md-12">答题人数:0</div>
                </div>
               <p></p>
                <button class="btn btn-primary btn-lg btn-block" style="background-color: #696969;border-color: #696969" data-toggle="modal" data-target="#modal{{ i[0] }}">挑战</button>
           </div>
        </div>
        </div>
            <!-- 模态框（Modal） -->
    <div class="modal fade modal_fix" id="modal{{ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id=" myModalLabel">{{ i[1] }}</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body ">
                        <div class="row row-no-gutters font_Size modal_marger ">
                             <div class="col-md-12">解题人数:<span class="modal_marger">0</span></div>
                            <div class="col-md-12">题目名称:<span class="modal_marger">{{ i[1] }}</span></div>
                             <div class="col-md-12">题目描述:<span class="modal_marger" href="static/">{{ i[3] }}</span></div>
                            <div class="col-md-12">题目附件:<a class="modal_marger" href="static/">附件1</a></div>

                              <div class="col-md-12">
                                 <div class="card" style="width: 100%;">
                                     <div class="card-body ">
                                         <h5 class="card-title text-center">web info</h5>
                                         <button type="button" class="btn btn-primary card-link " style="width: 100%" onclick="">开启实例</button>
                                     </div>
                                 </div>
                             </div>
                        </div>
                        <div class="row row-no-gutters font_Size modal_marger" id="flag{{ i[0] }}" style="height:20%" >
                                    <div class="input-group col-md-12 modal_marger btn-group">
                                        <input  id="flag{{ i[0] }}1" type="text" name="flag" autocomplete="off" placeholder="flag.." >
                                        <button type="submit"  class="btn btn-dark  " onclick="postflag('#flag{{ i[0] }}','#flag{{ i[0] }}1')">提交</button>
                                    </div>
                        </div>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->{% endif  %}{% endfor %}{% endif %}
    </div>
   <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
               Crypto
            </h3>
        </div>
    </div>
      <div class="row clearfix " >
    {% if challengeResult %}
    {% for i in challengeResult %}
    {% if i[4]==2 %}
        <div class="col-md-3">
            <div class="card " style="background-color:#A9A9A9;color: #ffffff;font-size: 17px" >
                <div class="card-header ">
                    <div class="card-group" style="float: left"><b>{{ i[1] }}</b></div>
                    <div class="card-group" style="float: right;color:#191970;font-size: 20px">400</div>
                </div>
           <div class="card-body">
                <div class="row">
                    <div class="col-md-12">{{ i[3] }}</div>
                    <div class="col-md-12">答题人数:0</div>
                </div>
               <p></p>
                <button class="btn btn-primary btn-lg btn-block" style="background-color: #696969;border-color: #696969" data-toggle="modal" data-target="#modal{{ i[0] }}">挑战</button>
           </div>
        </div>
        </div>
            <!-- 模态框（Modal） -->
    <div class="modal fade modal_fix" id="modal{{ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id=" myModalLabel">{{ i[1] }}</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body ">
                        <div class="row row-no-gutters font_Size modal_marger ">
                             <div class="col-md-12">解题人数:<span class="modal_marger">0</span></div>
                            <div class="col-md-12">题目名称:<span class="modal_marger">{{ i[1] }}</span></div>
                             <div class="col-md-12">题目描述:<span class="modal_marger" href="static/">{{ i[3] }}</span></div>
                            <div class="col-md-12">题目附件:<a class="modal_marger" href="static/">附件1</a></div>

                              <div class="col-md-12">
                                 <div class="card" style="width: 100%;">
                                     <div class="card-body ">
                                         <h5 class="card-title text-center">web info</h5>
                                         <button type="button" class="btn btn-primary card-link " style="width: 100%" onclick="">开启实例</button>
                                     </div>
                                 </div>
                             </div>
                        </div>
                        <div class="row row-no-gutters font_Size modal_marger" id="flag{{ i[0] }}" style="height:20%" >
                                    <div class="input-group col-md-12 modal_marger btn-group">
                                        <input  id="flag{{ i[0] }}1" type="text" name="flag" autocomplete="off" placeholder="flag.." >
                                        <button type="submit"  class="btn btn-dark  " onclick="postflag('#flag{{ i[0] }}','#flag{{ i[0] }}1')">提交</button>
                                    </div>
                        </div>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->
    {% endif  %}
    {% endfor %}
    {% endif %}
    </div>
   <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
               Reverse
            </h3>
        </div>
    </div>
    <div class="row clearfix " >
    {% if challengeResult %}
    {% for i in challengeResult %}
    {% if i[4]==3 %}
        <div class="col-md-3">
            <div class="card " style="background-color:#A9A9A9;color: #ffffff;font-size: 17px" >
                <div class="card-header ">
                    <div class="card-group" style="float: left"><b>{{ i[1] }}</b></div>
                    <div class="card-group" style="float: right;color:#191970;font-size: 20px">400</div>
                </div>
           <div class="card-body">
                <div class="row">
                    <div class="col-md-12">{{ i[3] }}</div>
                    <div class="col-md-12">答题人数:0</div>
                </div>
               <p></p>
                <button class="btn btn-primary btn-lg btn-block" style="background-color: #696969;border-color: #696969" data-toggle="modal" data-target="#modal{{ i[0] }}">挑战</button>
           </div>
        </div>
        </div>
                     <!-- 模态框（Modal） -->
    <div class="modal fade modal_fix" id="modal{{ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id=" myModalLabel">{{ i[1] }}</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body ">
                        <div class="row row-no-gutters font_Size modal_marger ">
                             <div class="col-md-12">解题人数:<span class="modal_marger">0</span></div>
                            <div class="col-md-12">题目名称:<span class="modal_marger">{{ i[1] }}</span></div>
                             <div class="col-md-12">题目描述:<span class="modal_marger" href="static/">{{ i[3] }}</span></div>
                            <div class="col-md-12">题目附件:<a class="modal_marger" href="static/">附件1</a></div>

                              <div class="col-md-12">
                                 <div class="card" style="width: 100%;">
                                     <div class="card-body ">
                                         <h5 class="card-title text-center">web info</h5>
                                         <button type="button" class="btn btn-primary card-link " style="width: 100%" onclick="">开启实例</button>
                                     </div>
                                 </div>
                             </div>
                        </div>
                        <div class="row row-no-gutters font_Size modal_marger" id="flag{{ i[0] }}" style="height:20%" >
                                    <div class="input-group col-md-12 modal_marger btn-group">
                                        <input  id="flag{{ i[0] }}1" type="text" name="flag" autocomplete="off" placeholder="flag.." >
                                        <button type="submit"  class="btn btn-dark  " onclick="postflag('#flag{{ i[0] }}','#flag{{ i[0] }}1')">提交</button>
                                    </div>
                        </div>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->
    {% endif  %}
    {% endfor %}
    {% endif %}
    </div>

   <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
               Pwn
            </h3>
        </div>
    </div>
     <div class="row clearfix " >
    {% if challengeResult %}
    {% for i in challengeResult %}
    {% if i[4]==4 %}
        <div class="col-md-3">
            <div class="card " style="background-color:#A9A9A9;color: #ffffff;font-size: 17px" >
                <div class="card-header ">
                    <div class="card-group" style="float: left"><b>{{ i[1] }}</b></div>
                    <div class="card-group" style="float: right;color:#191970;font-size: 20px">400</div>
                </div>
           <div class="card-body">
                <div class="row">
                    <div class="col-md-12">{{ i[3] }}</div>
                    <div class="col-md-12">答题人数:0</div>
                </div>
               <p></p>
                <button class="btn btn-primary btn-lg btn-block" style="background-color: #696969;border-color: #696969" data-toggle="modal" data-target="#modal{{ i[0] }}">挑战</button>
           </div>
        </div>
        </div>
            <!-- 模态框（Modal） -->
    <!-- 模态框（Modal） -->
    <div class="modal fade modal_fix" id="modal{{ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id=" myModalLabel">{{ i[1] }}</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body ">
                        <div class="row row-no-gutters font_Size modal_marger ">
                             <div class="col-md-12">解题人数:<span class="modal_marger">0</span></div>
                            <div class="col-md-12">题目名称:<span class="modal_marger">{{ i[1] }}</span></div>
                             <div class="col-md-12">题目描述:<span class="modal_marger" href="static/">{{ i[3] }}</span></div>
                            <div class="col-md-12">题目附件:<a class="modal_marger" href="static/">附件1</a></div>

                              <div class="col-md-12">
                                 <div class="card" style="width: 100%;">
                                     <div class="card-body ">
                                         <h5 class="card-title text-center">web info</h5>
                                         <button type="button" class="btn btn-primary card-link " style="width: 100%" onclick="">开启实例</button>
                                     </div>
                                 </div>
                             </div>
                        </div>
                        <div class="row row-no-gutters font_Size modal_marger" id="flag{{ i[0] }}" style="height:20%" >
                                    <div class="input-group col-md-12 modal_marger btn-group">
                                        <input  id="flag{{ i[0] }}1" type="text" name="flag" autocomplete="off" placeholder="flag.." >
                                        <button type="submit"  class="btn btn-dark  " onclick="postflag('#flag{{ i[0] }}','#flag{{ i[0] }}1')">提交</button>
                                    </div>
                        </div>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->
    {% endif  %}
    {% endfor %}
    {% endif %}
    </div>





</div>
{% include'user/footer.html' %}





