{% include'user/header.html' %}
<div  class="container" >
<style>
    .modal_fix{
    top: 22%;
    }
</style>
<script>
    function postflag(flagid,id){
        var a = document.getElementById(id.substring(1)).value;
        $.ajax({
                url: "/ajax",
                type: "post",
                data: {"flag": a},
                success: function (d) {
                    if (d == "1") {
                        alert("回答正确！");
                        $(flagid).html("回答正确");
                        $(flagid).attr("name","回答正确");
                        var aa = "#flag-"+id.substring(10)
                        {#alert(aa)#}
                        $(aa).attr("class","col-md-3 column border_contain color");


                    }
                    else{
                        alert("回答错误")
                    }},
             error:function () {

                alert("发送请求失败");
            }

            }
        )
}
</script>

<div  class="row justify-content-center bg-light " style="text-align: center;">
    <div class="row col-md-12 clearfix jumbotron "  style="display: inline-block;float: none;">
      <div>
            <h1>
            JJUCTF
        </h1>
        <p>
            由jjuctf团队搭建的网络安全靶场
        </p>
      </div>
    </div>
</div>
<div class="row clearfix" >
        <div class="col-md-12 column">
            <h3 >
               WEB
            </h3>
{#            <table>das</table>#}
{#            <span class="label label-success" style="font-size: 20px">WEB</span>#}
        </div>
    </div>
    <div class="row clearfix">
    {% if challengeResult %}
    {% for i in challengeResult %}
    {% if i[4]==0 %}

        <div class="col-md-3 column border_contain" id="flag-{{ i[0] }}" >
{#            <h2>{{ i[1] }}</h2>#}
            <div class="row">
                <h2 class="col-lg-8">
                  {{ i[1] }}
                </h2>
                <h2 class="col-lg-4">
                    <p style="color: #2aabd2">200</p>
                </h2>
            </div>
            <p>{{ i[3] }}</p>
            <p>
                <a class="btn" href="#"></a>
            <button class="btn btn-primary btn-default btn-block" data-toggle="modal" data-target="#{{ i[0] }}">
                挑战
            </button>
        </div>
            <!-- 模态框（Modal） -->
    <div class="modal fade modal_fix" id="{{ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{ i[1] }}</h4>
                </div>
                <div class="modal-body container">
                        <div class="row row-no-gutters modal_marger">
{#                            <div class="col-md-12">#}
{#                                <h2> {{ i[1] }}</h2>#}
{#                            </div>#}
                            <div class="col-md-12 text-success font_Size">
                                Hint:{{ i[3] }}
                            </div>
                            <div class="row row-no-gutters  font_Size modal_marger">
                                <div class="col-md-12 col-lg-12  ">
                                  <button type="button " class="btn btn-primary" > 点击开启实例</button>
                                </div>
                            </div>
                           {% if i[9] %}
                                <div class="row row-no-gutters font_Size modal_marger ">
                                <div class="col-md-12 col-lg-12">题目附件:</div>
                                <a class="col-md-2 col-lg-1 modal_marger" href="static/{{ i[9] }}">附件1</a>
                            </div>
                               {% endif %}


                            <div class="row row-no-gutters font_Size modal_marger" id="flag{{ i[0] }}" >

                                    <div class="input-group col-md-12 modal_marger">
                                    <input  id="flagcheck{{ i[0] }}" type="text" name="flag" autocomplete="off" placeholder="flag.." >
                                    </div>
                                    <div class="col-md-12 modal_marger">
                                    <button type="submit" class="btn btn-primary" onclick="postflag('#flag{{ i[0] }}','#flagcheck{{ i[0] }}')">提交</button>
                                    </div>

                            </div>
                        </div>
                </div>

            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->
    {% endif  %}
    {% endfor %}
    {% endif %}
    </div>
        <div class="row clearfix">
            <div class="col-md-12  column  ">
                <h3 class="">MISC</h3>
{#                <span class="label label-success" style="font-size: 20px">MISC</span>#}
            </div>
        </div>


    <div class="row clearfix">
      {% if challengeResult %}
    {% for i in challengeResult %}
    {% if i[4]==1 %}

        <div class="col-md-3 column border_contain"  >
           <div class="row">
                <h2 class="col-lg-8">
                  {{ i[1] }}
                </h2>
                <h2 class="col-lg-4">
                    <p style="color: #2aabd2">300</p>
                </h2>
            </div>
            <p>{{ i[3] }}</p>
            <p>
                <a class="btn" href="#"></a>
            <button class="btn btn-primary btn-default btn-block" data-toggle="modal" data-target="#{{ i[0] }}">
                挑战
            </button>
        </div>
            <!-- 模态框（Modal） -->
    <div class="modal fade modal_fix" id="{{ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{ i[1] }}</h4>
                </div>
                <div class="modal-body container">
                        <div class="row row-no-gutters modal_marger">
{#                            <div class="col-md-12">#}
{#                                <h2> {{ i[1] }}</h2>#}
{#                            </div>#}
                            <div class="col-md-12 text-success font_Size">
                                Hint:{{ i[3] }}
                            </div>
                            <div class="row row-no-gutters  font_Size modal_marger">
                                <div class="col-md-12 col-lg-12  ">
                                  <button type="button " class="btn btn-primary" > 点击开启实例</button>
                                </div>
                            </div>
                           {% if i[9] %}
                                <div class="row row-no-gutters font_Size modal_marger ">
                                <div class="col-md-12 col-lg-12">题目附件:</div>
                                <a class="col-md-2 col-lg-1 modal_marger" href="static/{{ i[9] }}">附件1</a>
                            </div>
                               {% endif %}
                            <div class="row row-no-gutters font_Size modal_marger" id="flag{{ i[0] }}" >

                                    <div class="input-group col-md-12 modal_marger">
                                    <input  id="flag{{ i[0] }}1" type="text" name="flag" autocomplete="off" placeholder="flag.." >
                                    </div>
                                    <div class="col-md-12 modal_marger">
                                    <button type="submit" class="btn btn-primary" onclick="postflag('#flag{{ i[0] }}','#flag{{ i[0] }}1')">提交</button>
                                    </div>

                            </div>
                        </div>
                </div>

            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->
    {% endif  %}
    {% endfor %}
    {% endif %}
    </div>




   <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
               Crypto
            </h3>
{#            <span class="label label-success" style="font-size: 20px;"> Crypto</span>#}
        </div>
    </div>
    <div class="row clearfix " >
    {% if challengeResult %}
    {% for i in challengeResult %}
    {% if i[4]==2 %}
        <div class="col-md-3 column border_contain "  >
            <div class="row">
                <h2 class="col-md-8">
                  {{ i[1] }}
                </h2>
                <h2 class="col-md-4">
                    <p style="color: #2aabd2">200</p>
                </h2>
            </div>
            <p>{{ i[3] }}</p>
            <p>
                <a class="btn" href="#"></a>
            <button class="btn btn-primary btn-default btn-block" data-toggle="modal" data-target="#{{ i[0] }}">
                挑战
            </button>
        </div>
            <!-- 模态框（Modal） -->
    <div class="modal fade modal_fix" id="{{ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{ i[1] }}</h4>
                </div>
                <div class="modal-body container "  >
                        <div class="row row-no-gutters modal_marger" >
{#                            <div class="col-md-12">#}
{#                                <h2> {{ i[1] }}</h2>#}
{#                            </div>#}
                            <div class="col-md-12 text-success font_Size" >
                                Hint:{{ i[3] }}
                            </div>
                        </div>

                        <div class="row row-no-gutters  font_Size modal_marger" >
                                <div class="col-md-12 "   >
                                  <button type="button " class="btn btn-primary" style="text-align: center" > 点击开启实例</button>
                                </div>
                        </div>

                        <div class="row row-no-gutters font_Size modal_marger ">
                        {% if i[9] %}
                                <div class="col-md-12">题目附件:</div>
                                <a class="col-md-2 col-lg-1 modal_marger" href="static/{{ i[9] }}">附件1</a>

                               {% endif %}
                        </div>
                        <div class="row row-no-gutters font_Size modal_marger" id="flag{{ i[0] }}" style="height:20%" >

                                    <div class="input-group col-md-12 modal_marger">
                                    <input  id="flag{{ i[0] }}1" type="text" name="flag" autocomplete="off" placeholder="flag.." >
                                    </div>
                                    <div class="col-md-12 modal_marger">
                                    <button type="submit" class="btn btn-primary" onclick="postflag('#flag{{ i[0] }}','#flag{{ i[0] }}1')">提交</button>
                                    </div>

                        </div>

                </div>

            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->
    {% endif  %}
    {% endfor %}
    {% endif %}
    </div>


   <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
               Reverse
            </h3>
{#            <span class="label label-success" style="font-size: 20px"> Reverse</span>#}
        </div>
    </div>
    <div class="row clearfix">
     {% if challengeResult %}
    {% for i in challengeResult %}
    {% if i[4]==3 %}

        <div class="col-md-3 column border_contain"  >
           <div class="row">
                <h2 class="col-lg-8">
                  {{ i[1] }}
                </h2>
                <h2 class="col-lg-4">
                    <p style="color: #2aabd2">150</p>
                </h2>
            </div>
            <p>{{ i[3] }}</p>
            <p>
                <a class="btn" href="#"></a>
            <button class="btn btn-primary btn-default btn-block" data-toggle="modal" data-target="#{{ i[0] }}">
                挑战
            </button>
        </div>
            <!-- 模态框（Modal） -->
    <div class="modal fade modal_fix" id="{{ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{ i[1] }}</h4>
                </div>
                <div class="modal-body container">
                        <div class="row row-no-gutters modal_marger">
{#                            <div class="col-md-12">#}
{#                                <h2> {{ i[1] }}</h2>#}
{#                            </div>#}
                            <div class="col-md-12 text-success font_Size">
                                Hint:{{ i[3] }}
                            </div>
                            <div class="row row-no-gutters  font_Size modal_marger">
                                <div class="col-md-12 col-lg-12  ">
                                  <button type="button " class="btn btn-primary" > 点击开启实例</button>
                                </div>
                            </div>
                           {% if i[9] %}
                                <div class="row row-no-gutters font_Size modal_marger ">
                                <div class="col-md-12 col-lg-12">题目附件:</div>
                                <a class="col-md-2 col-lg-1 modal_marger" href="static/{{ i[9] }}">附件1</a>
                            </div>
                               {% endif %}
                            <div class="row row-no-gutters font_Size modal_marger" id="flag{{ i[0] }}" >

                                    <div class="input-group col-md-12 modal_marger">
                                    <input  id="flag{{ i[0] }}1" type="text" name="flag" autocomplete="off" placeholder="flag.." >
                                    </div>
                                    <div class="col-md-12 modal_marger">
                                    <button type="submit" class="btn btn-primary" onclick="postflag('#flag{{ i[0] }}','#flag{{ i[0] }}1')">提交</button>
                                    </div>

                            </div>
                        </div>
                </div>

            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->
    {% endif  %}
    {% endfor %}
    {% endif %}
    </div>

   <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
               Pwn
            </h3>
{#             <span class="label label-success" style="font-size: 20px"> Pwn</span>#}
        </div>
    </div>
    <div class="row clearfix">
    {% if challengeResult %}
    {% for i in challengeResult %}
    {% if i[4]==4 %}

        <div class="col-md-3 column border_contain"  >
            <div class="row">
                <h2 class="col-lg-8">
                  {{ i[1] }}
                </h2>
                <h2 class="col-lg-4">
                    <p style="color: #2aabd2">100</p>
                </h2>
            </div>
            <p>{{ i[3] }}</p>
            <p>
                <a class="btn" href="#"></a>
            <button class="btn btn-primary btn-default btn-block" data-toggle="modal" data-target="#{{ i[0] }}">
                挑战
            </button>
        </div>
            <!-- 模态框（Modal） -->
    <div class="modal fade modal_fix" id="{{ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{ i[1] }}</h4>
                </div>
                <div class="modal-body container">
                        <div class="row row-no-gutters modal_marger">
{#                            <div class="col-md-12">#}
{#                                <h2> {{ i[1] }}</h2>#}
{#                            </div>#}
                            <div class="col-md-12 text-success font_Size">
                                Hint:{{ i[3] }}
                            </div>
                            <div class="row row-no-gutters  font_Size modal_marger">
                                <div class="col-md-12 col-lg-12  ">
                                  <button type="button " class="btn btn-primary" > 点击开启实例</button>
                                </div>
                            </div>
                           {% if i[9] %}
                                <div class="row row-no-gutters font_Size modal_marger ">
                                <div class="col-md-12 col-lg-12">题目附件:</div>
                                <a class="col-md-2 col-lg-1 modal_marger" href="static/{{ i[9] }}">附件1</a>
                            </div>
                               {% endif %}
                            <div class="row row-no-gutters font_Size modal_marger" id="flag{{ i[0] }}" >

                                    <div class="input-group col-md-12 modal_marger">
                                    <input  id="flag{{ i[0] }}1" type="text" name="flag" autocomplete="off" placeholder="flag.." >
                                    </div>
                                    <div class="col-md-12 modal_marger">
                                    <button type="submit" class="btn btn-primary" onclick="postflag('#flag{{ i[0] }}','#flag{{ i[0] }}1')">提交</button>
                                    </div>

                            </div>
                        </div>
                </div>

            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->
    {% endif  %}
    {% endfor %}
    {% endif %}
    </div>






</div>
{% include'user/footer.html' %}





