{% include'user/header.html' %}
<style>
    .modal_fix{
    top: 22%;
    }
    {#模态框下拉高度用的#}
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="background-color: #104E70;color: white">
                <div class="card-header">比赛信息</div>
                <div class="card-body">
                    <div class="row" style="font-size: 1.1rem">
                        <div class="col-md-12">战队名：<span>{{ groupInfo[1] }}</span></div>
                        <div class="col-md-12">队员名：<span>{{ username }}</span></div>
                        <div class="col-md-12">Token：<span>{{ groupInfo[2] }}</span></div>
                        <div class="col-md-12">队伍简介：{{ groupInfo[3] }}</div>
                        <div class="col-md-12">战队排名：110</div>
                        <div class="col-md-12">解题数量：2</div>
                        <div class="col-md-12">得分：50</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
              <div class="card " style="background-color: #104E70;color: white;">
                  <div class="card-header">比赛公告</div>
                  <div class="card-body">
                      <div class="row" >
                         <div class="col-md-12">
                             <div style="overflow-y:auto;mix-height: 10rem;max-height: 12rem; width: 100%">
                                 <ol>{#公告栏#}
                                     {% for i in userNotic %}
                                     <li>{{ i[1] }}</li>
                                     {% endfor %}
                                 </ol>
                             </div>
                         </div>
                      </div>
                  </div>
              </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="background-color: #104E70;color: white">
                <div class="card-header">解题动态</div>
                <div class="card-body" style="max-height: 14.5rem;overflow-y:auto;">
                    <table class="table table-borderless " style="color: white;font-size: 0.9rem">
                        <tr>
                            <td>JJUSEC1战队</td>
                            <td class="text-danger">攻破了</td>
                            <td>WEB1</td>
                            <td>17:00</td>
                        </tr>
                        <tr>
                            <td>JJUSEC1战队</td>
                            <td class="text-danger">攻破了</td>
                            <td>WEB1</td>
                            <td>17:00</td>
                        </tr>
                        <tr>
                            <td>Stac2战队</td>
                            <td class="text-danger">攻破了</td>
                            <td>WEB2</td>
                            <td>17:30</td>
                        </tr>
                        <tr>
                            <td>Stac2战队</td>
                            <td class="text-danger">攻破了</td>
                            <td>WEB1</td>
                            <td>17:31</td>
                        </tr>
                        <tr>
                            <td>JJUSEC战队</td>
                            <td class="text-danger">攻破了</td>
                            <td>WEB2</td>
                            <td>17:50</td>
                        </tr>
                    </table>
{#                    <ul class="nav ">#}
{#                        <li class="nav-item nav-divider">JJUSEC1战队&nbsp;&nbsp;</li>#}
{#                        <li class="nav-item text-danger" >攻破了&nbsp;&nbsp;</li>#}
{#                        <li class="nav-item">WEB1&nbsp;&nbsp;</li>#}
{#                        <li class="nav-item">17:00</li>#}
{#                    </ul>#}
{#                    <ul class="nav ">#}
{#                        <li class="nav-item nav-divider">Stac2战队&nbsp;&nbsp;</li>#}
{#                        <li class="nav-item text-danger" >攻破了&nbsp;&nbsp;</li>#}
{#                        <li class="nav-item">WEB1&nbsp;&nbsp;</li>#}
{#                        <li class="nav-item">17:59</li>#}
{#                    </ul>#}

                </div>
            </div>

        </div>
    </div>


    <div class="row">
        <p></p>
{#        换行用的#}
    </div>
    <div class="row" style="min-height: 30rem;">
        <div class="col-md-2">
             <div class="list-group"  >
                 <a href="#"  class="list-group-item list-group-item-action list-group-item-dark " disabled  data-toggle="pill" style="background-color: #104E70;color: white">比赛题目</a>
                 {% for typeNum in examNum  %}
                 <a class="list-group-item list-group-item-action" href="#{{ typeNum[0] }}" data-toggle="pill">{{ typeNum[0] }} <span class="badge badge-success ">{{ typeNum[1] }}</span></a>
                 {% endfor %}
             </div>
        </div>
        <div class="col-md-7">
           <!-- 选项卡菜单-->
<!-- 选项卡面板 -->
            <div  class="tab-content">
{#    web#}
        <div class="tab-pane fade in active" id="Web">
            <div class="row" style="border-color: #1c2b36;border: 0.5rem">
             {% if challengeResult %}
                 {% for i in challengeResult %}
                     {% if i[4]==0 %}
            <div class="col-md-3">
                <div class="card " style="background-color:#A9A9A9;color: #ffffff;font-size: 17px" >
                    <div class="card-header ">
                        <div class="card-group" style="float: left"><b>{{ i[1] }}</b></div>
                        <div class="card-group" style="float: right;color:#191970;font-size: 20px">{{ i[2] }}</div>
                    </div>
                    <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">{{ i[3] }}</div>
                        <div class="col-md-12"><span class="text-success">{% if i[10]== None %}0{% else %}{{ i[10] }}{% endif %}支队伍答对</span></div>
                    </div>
                    <p></p>
                        {% if i[11] %}
                            <button class="btn btn-success btn-lg btn-block" style="border-color: #696969" data-toggle="modal" data-target="#modal{{ i[0] }}">已解答</button>
                           {% else %}
                    <button class="btn btn-primary btn-lg btn-block" style="background-color: #696969;border-color: #696969" data-toggle="modal" data-target="#modal{{ i[0] }}">挑战</button>
                   {% endif %}
                    </div>
                </div>
            </div>
             {#模态框#}
                         <div class="modal fade modal_fix"  id="modal{{ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div class="modal-dialog">
            <div class="modal-content" style="background-color: rgba(255,255,255,0.85)">
                <div class="modal-header">
                    <h4 class="modal-title" id=" myModalLabel">{{ i[1] }}</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body ">
                    <div class="row row-no-gutters font_Size modal_marger"  style="height:10%" >

                            <div class="col-md-6" style="color: #6A5ACD">分值:<span style="" class="modal_marger">{{ i[2] }}</span></div>
                        {% if i[11] != None %}
                            <div class="col-md-6 col-md-auto"><span  class="text-success modal_marger ">已解答</span></div>
                        {% else %}
                            <div class="col-md-6 col-md-auto"><span style="color: red" class="modal_marger ">未解答</span></div>
                            {% endif %}
{#                        <div class="col-md-12" style="font-size: 0.7rem">#}
{#                            <strong  title="欢迎妹子打电话"><span>第一名</span>：欢迎妹子打电话</strong>#}
{#                        </div>#}
                    </div>
                        <div class="row row-no-gutters font_Size modal_marger ">
                            <div class="col-md-12" style="color: #458B00">答对人数:<span class="modal_marger">{% if i[10]== None %}0{% else %}{{ i[10] }}{% endif %}</span></div>
{#                            <div class="col-md-12" style="color: #1E90FF">题目名称:<span class="modal_marger">{{ i[1] }}</span></div>#}
{#                            <div class="col-md-12" style="color: #5D478B;font-size: 0.8rem"><span class="modal_marger" href="static/">{{ i[3] }}</span></div>#}
                        {% if i[7]==1 %}
                            <div class="col-md-12">题目附件:<a class="modal_marger" href="/static/upload/{{ i[8] }}">附件1</a></div>
                            {% endif %}
                              <div class="col-md-12">
                                 <div class="card" style="width: 100%; ">
                                     <div class="card-body" style="background-color: #a6e1ec">
                                         <h5 class="card-title text-center"><a href="/">{{ i[3] }}</a></h5>
                                     </div>
                                 </div>
                             </div>
                        {% if i[5] == 1 and i[11] == None %}
                              <div class="col-md-12">
                                 <div class="card" style="width: 100%;">
                                     <div class="card-body ">
                                         <h5 class="card-title text-center">{{ i[3] }}</h5>
                                         <button type="button" class="btn btn-primary card-link " style="width: 100%" onclick="">开启实例</button>
                                     </div>
                                 </div>
                             </div>
                        {% endif %}
                         {% if i[5] == 1 and i[11] == 1 %}
                            <div class="col-md-12">
                                 <div class="card" style="width: 100%;">
                                     <div class="card-body ">
                                         <a href="{{ i[12] }}" target="_blank" class="">{{ i[12] }}</a>
                                         <button class="btn btn-success">还剩5:00</button>
                                     </div>
                                 </div>
                             </div>
                             {% endif %}
                        </div>
                        <div class="row row-no-gutters font_Size modal_marger" id="div{{ i[0] }}" style="height:20%" >
                            {% if i[11] !=  None %}
                                  <div>
                                      <a class="text-success">已解答，获得{{ i[2] }}分</a>
                                  </div>
                                {% else %}
                                    <div class="input-group col-md-12 modal_marger btn-group">
                                        <input  id="flag{{ i[0] }}" type="text" name="flag"  autocomplete="off" placeholder="flag.." >
                                        <button type="submit"  class="btn btn-dark  " onclick="postflag('{{ i[0] }}','flag{{ i[0] }}')">提交</button>
                                    </div>
                                {% endif %}

                        </div>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->
    {% endif  %}
    {% endfor %}
    {% endif %}
             {#模态框#}
         </div>   {# 结束row #}
    </div>
{#    misc#}
     <div class="tab-pane fade" id="Misc" >
            <div class="row" style="border-color: #1c2b36;border: 0.5rem">
             {% if challengeResult %}
                 {% for i in challengeResult %}
                     {% if i[4]==1 %}
            <div class="col-md-3">
                <div class="card " style="background-color:#A9A9A9;color: #ffffff;font-size: 17px" >
                    <div class="card-header ">
                        <div class="card-group" style="float: left"><b>{{ i[1] }}</b></div>
                        <div class="card-group" style="float: right;color:#191970;font-size: 20px">{{ i[2] }}</div>
                    </div>
                    <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">{{ i[3] }}</div>
                        <div class="col-md-12"><span class="text-success">{% if i[10]== None %}0{% else %}{{ i[10] }}{% endif %}支队伍答对</span></div>
                    </div>
                    <p></p>
                        {% if i[11] %}
                            <button class="btn btn-success btn-lg btn-block" style="border-color: #696969" data-toggle="modal" data-target="#modal{{ i[0] }}">已解答</button>
                           {% else %}
                    <button class="btn btn-primary btn-lg btn-block" style="background-color: #696969;border-color: #696969" data-toggle="modal" data-target="#modal{{ i[0] }}">挑战</button>
                   {% endif %}
                    </div>
                </div>
            </div>
             {#模态框#}
                         <div class="modal fade modal_fix"  id="modal{{ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div class="modal-dialog">
            <div class="modal-content" style="background-color: rgba(255,255,255,0.85)">
                <div class="modal-header">
                    <h4 class="modal-title" id=" myModalLabel">{{ i[1] }}</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body ">
                    <div class="row row-no-gutters font_Size modal_marger"  style="height:10%" >

                            <div class="col-md-6" style="color: #6A5ACD">分值:<span style="" class="modal_marger">{{ i[2] }}</span></div>
                        {% if i[11] != None %}
                            <div class="col-md-6 col-md-auto"><span  class="text-success modal_marger ">已解答</span></div>
                        {% else %}
                            <div class="col-md-6 col-md-auto"><span style="color: red" class="modal_marger ">未解答</span></div>
                            {% endif %}
{#                        <div class="col-md-12" style="font-size: 0.7rem">#}
{#                            <strong  title="欢迎妹子打电话"><span>第一名</span>：欢迎妹子打电话</strong>#}
{#                        </div>#}
                    </div>
                        <div class="row row-no-gutters font_Size modal_marger ">
                            <div class="col-md-12" style="color: #458B00">答对人数:<span class="modal_marger">{% if i[10]== None %}0{% else %}{{ i[10] }}{% endif %}</span></div>
{#                            <div class="col-md-12" style="color: #1E90FF">题目名称:<span class="modal_marger">{{ i[1] }}</span></div>#}
{#                            <div class="col-md-12" style="color: #5D478B;font-size: 0.8rem"><span class="modal_marger" href="static/">{{ i[3] }}</span></div>#}
                        {% if i[7]==1 %}
                            <div class="col-md-12">题目附件:<a class="modal_marger" href="/static/upload/{{ i[8] }}">附件1</a></div>
                            {% endif %}
                              <div class="col-md-12">
                                 <div class="card" style="width: 100%; ">
                                     <div class="card-body" style="background-color: #a6e1ec">
                                         <h5 class="card-title text-center"><a href="/">{{ i[3] }}</a></h5>
                                     </div>
                                 </div>
                             </div>
                        {% if i[5] == 1 and i[11] == None %}
                              <div class="col-md-12">
                                 <div class="card" style="width: 100%;">
                                     <div class="card-body ">
                                         <h5 class="card-title text-center">{{ i[3] }}</h5>
                                         <button type="button" class="btn btn-primary card-link " style="width: 100%" onclick="">开启实例</button>
                                     </div>
                                 </div>
                             </div>
                        {% endif %}
                         {% if i[5] == 1 and i[11] == 1 %}
                            <div class="col-md-12">
                                 <div class="card" style="width: 100%;">
                                     <div class="card-body ">
                                         <a href="{{ i[12] }}" target="_blank" class="">{{ i[12] }}</a>
                                         <button class="btn btn-success">还剩5:00</button>
                                     </div>
                                 </div>
                             </div>
                             {% endif %}
                        </div>
                        <div class="row row-no-gutters font_Size modal_marger" id="div{{ i[0] }}" style="height:20%" >
                            {% if i[11] !=  None %}
                                  <div>
                                      <a class="text-success">已解答，获得{{ i[2] }}分</a>
                                  </div>
                                {% else %}
                                    <div class="input-group col-md-12 modal_marger btn-group">
                                        <input  id="flag{{ i[0] }}" type="text" name="flag"  autocomplete="off" placeholder="flag.." >
                                        <button type="submit"  class="btn btn-dark  " onclick="postflag('{{ i[0] }}','flag{{ i[0] }}')">提交</button>
                                    </div>
                                {% endif %}

                        </div>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->
    {% endif  %}
    {% endfor %}
    {% endif %}
             {#模态框#}
         </div>   {# 结束row #}
    </div>


  <div class="tab-pane fade " id="Crypto" >
            <div class="row" style="border-color: #1c2b36;border: 0.5rem">
             {% if challengeResult %}
                 {% for i in challengeResult %}
                     {% if i[4]==2 %}
            <div class="col-md-3">
                <div class="card " style="background-color:#A9A9A9;color: #ffffff;font-size: 17px" >
                    <div class="card-header ">
                        <div class="card-group" style="float: left"><b>{{ i[1] }}</b></div>
                        <div class="card-group" style="float: right;color:#191970;font-size: 20px">{{ i[2] }}</div>
                    </div>
                    <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">{{ i[3] }}</div>
                        <div class="col-md-12"><span class="text-success">{% if i[10]== None %}0{% else %}{{ i[10] }}{% endif %}支队伍答对</span></div>
                    </div>
                    <p></p>
                        {% if i[11] %}
                            <button class="btn btn-success btn-lg btn-block" style="border-color: #696969" data-toggle="modal" data-target="#modal{{ i[0] }}">已解答</button>
                           {% else %}
                    <button class="btn btn-primary btn-lg btn-block" style="background-color: #696969;border-color: #696969" data-toggle="modal" data-target="#modal{{ i[0] }}">挑战</button>
                   {% endif %}
                    </div>
                </div>
            </div>
             {#模态框#}
                         <div class="modal fade modal_fix"  id="modal{{ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div class="modal-dialog">
            <div class="modal-content" style="background-color: rgba(255,255,255,0.85)">
                <div class="modal-header">
                    <h4 class="modal-title" id=" myModalLabel">{{ i[1] }}</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body ">
                    <div class="row row-no-gutters font_Size modal_marger"  style="height:10%" >

                            <div class="col-md-6" style="color: #6A5ACD">分值:<span style="" class="modal_marger">{{ i[2] }}</span></div>
                        {% if i[11] != None %}
                            <div class="col-md-6 col-md-auto"><span  class="text-success modal_marger ">已解答</span></div>
                        {% else %}
                            <div class="col-md-6 col-md-auto"><span style="color: red" class="modal_marger ">未解答</span></div>
                            {% endif %}
{#                        <div class="col-md-12" style="font-size: 0.7rem">#}
{#                            <strong  title="欢迎妹子打电话"><span>第一名</span>：欢迎妹子打电话</strong>#}
{#                        </div>#}
                    </div>
                        <div class="row row-no-gutters font_Size modal_marger ">
                            <div class="col-md-12" style="color: #458B00">答对人数:<span class="modal_marger">{% if i[10]== None %}0{% else %}{{ i[10] }}{% endif %}</span></div>
{#                            <div class="col-md-12" style="color: #1E90FF">题目名称:<span class="modal_marger">{{ i[1] }}</span></div>#}
{#                            <div class="col-md-12" style="color: #5D478B;font-size: 0.8rem"><span class="modal_marger" href="static/">{{ i[3] }}</span></div>#}
                        {% if i[7]==1 %}
                            <div class="col-md-12">题目附件:<a class="modal_marger" href="/static/upload/{{ i[8] }}">附件1</a></div>
                            {% endif %}
                              <div class="col-md-12">
                                 <div class="card" style="width: 100%; ">
                                     <div class="card-body" style="background-color: #a6e1ec">
                                         <h5 class="card-title text-center"><a href="/">{{ i[3] }}</a></h5>
                                     </div>
                                 </div>
                             </div>
                        {% if i[5] == 1 and i[11] == None %}
                              <div class="col-md-12">
                                 <div class="card" style="width: 100%;">
                                     <div class="card-body ">
                                         <h5 class="card-title text-center">{{ i[3] }}</h5>
                                         <button type="button" class="btn btn-primary card-link " style="width: 100%" onclick="">开启实例</button>
                                     </div>
                                 </div>
                             </div>
                        {% endif %}
                         {% if i[5] == 1 and i[11] == 1 %}
                            <div class="col-md-12">
                                 <div class="card" style="width: 100%;">
                                     <div class="card-body ">
                                         <a href="{{ i[12] }}" target="_blank" class="">{{ i[12] }}</a>
                                         <button class="btn btn-success">还剩5:00</button>
                                     </div>
                                 </div>
                             </div>
                             {% endif %}
                        </div>
                        <div class="row row-no-gutters font_Size modal_marger" id="div{{ i[0] }}" style="height:20%" >
                            {% if i[11] !=  None %}
                                  <div>
                                      <a class="text-success">已解答，获得{{ i[2] }}分</a>
                                  </div>
                                {% else %}
                                    <div class="input-group col-md-12 modal_marger btn-group">
                                        <input  id="flag{{ i[0] }}" type="text" name="flag"  autocomplete="off" placeholder="flag.." >
                                        <button type="submit"  class="btn btn-dark  " onclick="postflag('{{ i[0] }}','flag{{ i[0] }}')">提交</button>
                                    </div>
                                {% endif %}

                        </div>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->
    {% endif  %}
    {% endfor %}
    {% endif %}
             {#模态框#}
         </div>   {# 结束row #}
    </div>
      <div class="tab-pane fade" id="Reverse" >
            <div class="row" style="border-color: #1c2b36;border: 0.5rem">
             {% if challengeResult %}
                 {% for i in challengeResult %}
                     {% if i[4]==3 %}
            <div class="col-md-3">
                <div class="card " style="background-color:#A9A9A9;color: #ffffff;font-size: 17px" >
                    <div class="card-header ">
                        <div class="card-group" style="float: left"><b>{{ i[1] }}</b></div>
                        <div class="card-group" style="float: right;color:#191970;font-size: 20px">{{ i[2] }}</div>
                    </div>
                    <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">{{ i[3] }}</div>
                        <div class="col-md-12"><span class="text-success">{% if i[10]== None %}0{% else %}{{ i[10] }}{% endif %}支队伍答对</span></div>
                    </div>
                    <p></p>
                        {% if i[11] %}
                            <button class="btn btn-success btn-lg btn-block" style="border-color: #696969" data-toggle="modal" data-target="#modal{{ i[0] }}">已解答</button>
                           {% else %}
                    <button class="btn btn-primary btn-lg btn-block" style="background-color: #696969;border-color: #696969" data-toggle="modal" data-target="#modal{{ i[0] }}">挑战</button>
                   {% endif %}
                    </div>
                </div>
            </div>
             {#模态框#}
                         <div class="modal fade modal_fix"  id="modal{{ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div class="modal-dialog">
            <div class="modal-content" style="background-color: rgba(255,255,255,0.85)">
                <div class="modal-header">
                    <h4 class="modal-title" id=" myModalLabel">{{ i[1] }}</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body ">
                    <div class="row row-no-gutters font_Size modal_marger"  style="height:10%" >

                            <div class="col-md-6" style="color: #6A5ACD">分值:<span style="" class="modal_marger">{{ i[2] }}</span></div>
                        {% if i[11] != None %}
                            <div class="col-md-6 col-md-auto"><span  class="text-success modal_marger ">已解答</span></div>
                        {% else %}
                            <div class="col-md-6 col-md-auto"><span style="color: red" class="modal_marger ">未解答</span></div>
                            {% endif %}
{#                        <div class="col-md-12" style="font-size: 0.7rem">#}
{#                            <strong  title="欢迎妹子打电话"><span>第一名</span>：欢迎妹子打电话</strong>#}
{#                        </div>#}
                    </div>
                        <div class="row row-no-gutters font_Size modal_marger ">
                            <div class="col-md-12" style="color: #458B00">答对人数:<span class="modal_marger">{% if i[10]== None %}0{% else %}{{ i[10] }}{% endif %}</span></div>
{#                            <div class="col-md-12" style="color: #1E90FF">题目名称:<span class="modal_marger">{{ i[1] }}</span></div>#}
{#                            <div class="col-md-12" style="color: #5D478B;font-size: 0.8rem"><span class="modal_marger" href="static/">{{ i[3] }}</span></div>#}
                        {% if i[7]==1 %}
                            <div class="col-md-12">题目附件:<a class="modal_marger" href="/static/upload/{{ i[8] }}">附件1</a></div>
                            {% endif %}
                              <div class="col-md-12">
                                 <div class="card" style="width: 100%; ">
                                     <div class="card-body" style="background-color: #a6e1ec">
                                         <h5 class="card-title text-center"><a href="/">{{ i[3] }}</a></h5>
                                     </div>
                                 </div>
                             </div>
                        {% if i[5] == 1 and i[11] == None %}
                              <div class="col-md-12">
                                 <div class="card" style="width: 100%;">
                                     <div class="card-body ">
                                         <h5 class="card-title text-center">{{ i[3] }}</h5>
                                         <button type="button" class="btn btn-primary card-link " style="width: 100%" onclick="">开启实例</button>
                                     </div>
                                 </div>
                             </div>
                        {% endif %}
                         {% if i[5] == 1 and i[11] == 1 %}
                            <div class="col-md-12">
                                 <div class="card" style="width: 100%;">
                                     <div class="card-body ">
                                         <a href="{{ i[12] }}" target="_blank" class="">{{ i[12] }}</a>
                                         <button class="btn btn-success">还剩5:00</button>
                                     </div>
                                 </div>
                             </div>
                             {% endif %}
                        </div>
                        <div class="row row-no-gutters font_Size modal_marger" id="div{{ i[0] }}" style="height:20%" >
                            {% if i[11] !=  None %}
                                  <div>
                                      <a class="text-success">已解答，获得{{ i[2] }}分</a>
                                  </div>
                                {% else %}
                                    <div class="input-group col-md-12 modal_marger btn-group">
                                        <input  id="flag{{ i[0] }}" type="text" name="flag"  autocomplete="off" placeholder="flag.." >
                                        <button type="submit"  class="btn btn-dark  " onclick="postflag('{{ i[0] }}','flag{{ i[0] }}')">提交</button>
                                    </div>
                                {% endif %}

                        </div>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->
    {% endif  %}
    {% endfor %}
    {% endif %}
             {#模态框#}
         </div>   {# 结束row #}
    </div>



          <div class="tab-pane fade" id="Pwn" >
            <div class="row" style="border-color: #1c2b36;border: 0.5rem">
             {% if challengeResult %}
                 {% for i in challengeResult %}
                     {% if i[4]==4 %}
            <div class="col-md-3">
                <div class="card " style="background-color:#A9A9A9;color: #ffffff;font-size: 17px" >
                    <div class="card-header ">
                        <div class="card-group" style="float: left"><b>{{ i[1] }}</b></div>
                        <div class="card-group" style="float: right;color:#191970;font-size: 20px">{{ i[2] }}</div>
                    </div>
                    <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">{{ i[3] }}</div>
                        <div class="col-md-12"><span class="text-success">{% if i[10]== None %}0{% else %}{{ i[10] }}{% endif %}支队伍答对</span></div>
                    </div>
                    <p></p>
                        {% if i[11] %}
                            <button class="btn btn-success btn-lg btn-block" style="border-color: #696969" data-toggle="modal" data-target="#modal{{ i[0] }}">已解答</button>
                           {% else %}
                    <button class="btn btn-primary btn-lg btn-block" style="background-color: #696969;border-color: #696969" data-toggle="modal" data-target="#modal{{ i[0] }}">挑战</button>
                   {% endif %}
                    </div>
                </div>
            </div>
             {#模态框#}
                         <div class="modal fade modal_fix"  id="modal{{ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div class="modal-dialog">
            <div class="modal-content" style="background-color: rgba(255,255,255,0.85)">
                <div class="modal-header">
                    <h4 class="modal-title" id=" myModalLabel">{{ i[1] }}</h4>
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body ">
                    <div class="row row-no-gutters font_Size modal_marger"  style="height:10%" >

                            <div class="col-md-6" style="color: #6A5ACD">分值:<span style="" class="modal_marger">{{ i[2] }}</span></div>
                        {% if i[11] != None %}
                            <div class="col-md-6 col-md-auto"><span  class="text-success modal_marger ">已解答</span></div>
                        {% else %}
                            <div class="col-md-6 col-md-auto"><span style="color: red" class="modal_marger ">未解答</span></div>
                            {% endif %}
{#                        <div class="col-md-12" style="font-size: 0.7rem">#}
{#                            <strong  title="欢迎妹子打电话"><span>第一名</span>：欢迎妹子打电话</strong>#}
{#                        </div>#}
                    </div>
                        <div class="row row-no-gutters font_Size modal_marger ">
                            <div class="col-md-12" style="color: #458B00">答对人数:<span class="modal_marger">{% if i[10]== None %}0{% else %}{{ i[10] }}{% endif %}</span></div>
{#                            <div class="col-md-12" style="color: #1E90FF">题目名称:<span class="modal_marger">{{ i[1] }}</span></div>#}
{#                            <div class="col-md-12" style="color: #5D478B;font-size: 0.8rem"><span class="modal_marger" href="static/">{{ i[3] }}</span></div>#}
                        {% if i[7]==1 %}
                            <div class="col-md-12">题目附件:<a class="modal_marger" href="/static/upload/{{ i[8] }}">附件1</a></div>
                            {% endif %}
                              <div class="col-md-12">
                                 <div class="card" style="width: 100%; ">
                                     <div class="card-body" style="background-color: #a6e1ec">
                                         <h5 class="card-title text-center"><a href="/">{{ i[3] }}</a></h5>
                                     </div>
                                 </div>
                             </div>
                        {% if i[5] == 1 and i[11] == None %}
                              <div class="col-md-12">
                                 <div class="card" style="width: 100%;">
                                     <div class="card-body ">
                                         <h5 class="card-title text-center">{{ i[3] }}</h5>
                                         <button type="button" class="btn btn-primary card-link " style="width: 100%" onclick="">开启实例</button>
                                     </div>
                                 </div>
                             </div>
                        {% endif %}
                         {% if i[5] == 1 and i[11] == 1 %}
                            <div class="col-md-12">
                                 <div class="card" style="width: 100%;">
                                     <div class="card-body ">
                                         <a href="{{ i[12] }}" target="_blank" class="">{{ i[12] }}</a>
                                         <button class="btn btn-success">还剩5:00</button>
                                     </div>
                                 </div>
                             </div>
                             {% endif %}
                        </div>
                        <div class="row row-no-gutters font_Size modal_marger" id="div{{ i[0] }}" style="height:20%" >
                            {% if i[11] !=  None %}
                                  <div>
                                      <a class="text-success">已解答，获得{{ i[2] }}分</a>
                                  </div>
                                {% else %}
                                    <div class="input-group col-md-12 modal_marger btn-group">
                                        <input  id="flag{{ i[0] }}" type="text" name="flag"  autocomplete="off" placeholder="flag.." >
                                        <button type="submit"  class="btn btn-dark  " onclick="postflag('{{ i[0] }}','flag{{ i[0] }}')">提交</button>
                                    </div>
                                {% endif %}

                        </div>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->
    {% endif  %}
    {% endfor %}
    {% endif %}
             {#模态框#}
         </div>   {# 结束row #}
    </div>
</div>
        </div>
        <div class="col-md-3">
               <div class="row">
                <div class="col-md-12">
                         <div class="time btn-group text-right ">
                            <button class="btn btn-lg btn-success bg-success"> <span>距离比赛结束:</span>
                             <span id="t_d">00天</span>
                             <span id="t_h">00时</span>
                             <span id="t_m">00分</span>
                             <span id="t_s">00秒</span></button>

        <script>

            setInterval(function() {
                var EndTime = new Date('{{ end_time }}');
                var NowTime = new Date();
                var t = EndTime.getTime() - NowTime.getTime();
                var d = 0;
                var h = 0;
                var m = 0;
                var s = 0;
                if (t >= 0) {
                    d = Math.floor(t / 1000 / 60 / 60 / 24);
                    h = Math.floor(t / 1000 / 60 / 60 % 24);
                    m = Math.floor(t / 1000 / 60 % 60);
                    s = Math.floor(t / 1000 % 60);
                }
                document.getElementById("t_d").innerHTML = d + "天";
                document.getElementById("t_h").innerHTML = h + "时";
                document.getElementById("t_m").innerHTML = m + "分";
                document.getElementById("t_s").innerHTML = s + "秒";
            }, 10);
        </script>
{#                    <button type="button" class="btn btn-danger btn-lg">比赛已结束</button>#}
                    </div>



{#                    <div class="btn-group text-center">#}
{#                    <button type="button" class="btn btn-success btn-lg">问题反馈</button>#}
{#                    </div>#}


                </div>
{#                <div class="col-md-12">这里还不知道该写什么</div>#}
            </div>
        </div>
    </div>
</div>
<script>
    function postflag(ctf_id,id){
        var a = document.getElementById(id).value;
        var ctf_id = ctf_id;
        $.ajax({
                url: "/checkCtfFlag",
                type: "post",
                data: {"flag": a,"ctf_id":ctf_id},
                success: function (result) {
                    if (result == "1") {
                        alert("回答正确！");
                        window.location.reload()
                    }
                    else{
                        alert("回答错误")
                    }},
             error:function () {

                alert("发送请求失败");
            }

            }
        )
}
</script>
{% include'user/footer.html' %}





