{% include'user/header.html' %}
    <div class="row clearfix">
        <div class="col-md-2 column">
            <div class="list-group">
                <a href="#" class="list-group-item active">Home</a>
                <div class="list-group-item">
                    List header
                </div>
                <div class="list-group-item">
                    <h4 class="list-group-item-heading">
                        List group item heading
                    </h4>
                    <p class="list-group-item-text">
                        ...
                    </p>
                </div>
                <div class="list-group-item">
                    <span class="badge">14</span> Help
                </div> <a class="list-group-item active"> <span class="badge">14</span> Help</a>
            </div>
        </div>
        <div class="col-md-6 column">


            <h1>测试页面</h1>
        </div>
        <div class="col-md-4 column">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        排名
                    </th>
                    <th>
                        题目
                    </th>
                    <th>
                        提交时间
                    </th>
                    <th>
                        分值
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        TB - Monthly
                    </td>
                    <td>
                        01/04/2012
                    </td>
                    <td>
                        Default
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        1
                    </td>
                    <td>
                        TB - Monthly
                    </td>
                    <td>
                        01/04/2012
                    </td>
                    <td>
                        Approved
                    </td>
                </tr>
                <tr class="error">
                    <td>
                        2
                    </td>
                    <td>
                        TB - Monthly
                    </td>
                    <td>
                        02/04/2012
                    </td>
                    <td>
                        Declined
                    </td>
                </tr>
                <tr class="warning">
                    <td>
                        3
                    </td>
                    <td>
                        TB - Monthly
                    </td>
                    <td>
                        03/04/2012
                    </td>
                    <td>
                        Pending
                    </td>
                </tr>
                <tr class="info">
                    <td>
                        4
                    </td>
                    <td>
                        TB - Monthly
                    </td>
                    <td>
                        04/04/2012
                    </td>
                    <td>
                        Call in to confirm
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="panel-group" id="panel-518808">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-518808" href="#panel-element-526403">软考网络工程师</a>
                    </div>
                    <div id="panel-element-526403" class="panel-collapse collapse">
                        <div class="panel-body">
                            2019年上午 <button class="btn btn-default " style="right: 0">练习模式</button><button  class="btn btn-default">考试模式</button>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" data-parent="#panel-518808" href="#panel-element-399867">CISP</a>
                    </div>
                    <div id="panel-element-399867" class="panel-collapse in">
                        <div class="panel-body">
                            试卷1       <button class="btn btn-default " style="right: 0">练习模式</button><button  class="btn btn-default">考试模式</button>
                        </div>
                        <div class="panel-body">
                            试卷2 <button class="btn btn-default " style="right: 0">练习模式</button><button  class="btn btn-default">考试模式</button>
                        </div>
                        <div class="panel-body">
                            试卷3 <button class="btn btn-default " style="right: 0">练习模式</button><button  class="btn btn-default">考试模式</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% include'user/footer.html' %}