{% include'user/header.html' %}
    <div class="row clearfix">


        <div class="col-md-12 column">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        排名
                    </th>
                    <th>
                        题目
                    </th>
                    <th>
                        提交时间
                    </th>
                    <th>
                        分值
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                       web1
                    </td>
                    <td>
                        01/04/2012
                    </td>
                    <td>
                        100
                    </td>
                </tr>
                <tr class="success">
                    <td>
                        1
                    </td>
                    <td>
                        web2
                    </td>
                    <td>
                        01/04/2012
                    </td>
                    <td>
                        100
                    </td>
                </tr>
                <tr class="error">
                    <td>
                        2
                    </td>
                    <td>
                       misc3
                    </td>
                    <td>
                        02/04/2012
                    </td>
                    <td>
                        150
                    </td>
                </tr>
                <tr class="warning">
                    <td>
                        3
                    </td>
                    <td>
                        pwn3
                    </td>
                    <td>
                        03/04/2012
                    </td>
                    <td>
                       112
                    </td>
                </tr>
                <tr class="info">
                    <td>
                        4
                    </td>
                    <td>
                        reverse
                    </td>
                    <td>
                        04/04/2012
                    </td>
                    <td>
                        122
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row clearfix">
        <h3>考试题库</h3>
        <div class="col-md-12 column">
            <div class="panel-group" id="panel-518808">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color: #67b168">
                        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-518808" href="#panel-element-526403">软考网络工程师</a>
                    </div>
                    <div id="panel-element-526403" class="panel-collapse collapse">
                        <div class="panel-body">
                            2019年上午 <button class="btn btn-default " style="right: 0">练习模式</button><button  class="btn btn-default">考试模式</button>
                        </div>
                         <div class="panel-body">
                            2019年下午 <button class="btn btn-default " style="right: 0">练习模式</button><button  class="btn btn-default">考试模式</button>
                        </div>
                         <div class="panel-body">
                            2020年下午 <button class="btn btn-default " style="right: 0">练习模式</button><button  class="btn btn-default">考试模式</button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default ">
                    <div class="panel-heading " style="background-color: #67b168">
                        <a class="panel-title" data-toggle="collapse" data-parent="#panel-518808" href="#panel-element-399867">CISP</a>
                    </div>
                    <div id="panel-element-399867" class="panel-collapse in">
                        <div class="panel-body">
                            试卷1       <button class="btn btn-default " style="right: 0">练习模式</button><button  class="btn btn-default">考试模式</button>
                        </div>
                        <div class="panel-body">
                            试卷2 <button class="btn btn-default " style="right: 0">练习模式</button><button  class="btn btn-default">考试模式</button>
                        </div>
                        <div class="panel-body">
                            试卷3 <button class="btn btn-default " style="right: 0">练习模式</button><button  class="btn btn-default">考试模式</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% include'user/footer.html' %}