{% include 'user/header.html' %}
<div class="container-fluid">
    {% if groupinfo !=0 %}
        <div class="row">
        <div class="col-md-12 text-right" style="height: 40px">
            <a href="#">退出队伍</a>
        </div>
        </div>
    <div class="row" >
        <div class="col-md-4  ">
            <div class="card">
                <div class="card-header">队员信息</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">队伍名称:JJU_SEC </div>
                        <div class="col-md-12">ID:<span>7173411</span> </div>
                        <div class="col-md-12">学院:<span>信息学院</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
             <div class="card">
                <div class="card-header">队员信息</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">　
                            <table class="table table-center "  >
                            <thead>
                                <tr class="table-primary">
                                <th>队员名称</th>
                                <th>职位</th>
                            </tr>
                                {% for i in groupList %}
                            <tr class="table-info">
                                <td>{{ i[0] }}</td>
                                {% if i[1]==0 %}
                                <td>队员</td>

                            {% else %}
                                <td>队长</td>
                            {% endif %}
                            </tr>
                            {% endfor %}
                        </thead>
                        </table>
                </div>
                </div>
        </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><h3>详细信息</h3> </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-center">
        <thead>
            <tr class="table-primary">
                <th >题目名称</th>
                <th>题目类型</th>
                <th>题目分值</th>
                <th>解题人</th>
                <th>是否一血</th>
                <th>得分队伍数</th>
            </tr>
            <tr class="table-success">
                <td>babymaze1</td>
                <td>Misc</td>
                <td>68</td>
                <td>U6173934</td>
                <td>否</td>
                <td>130</td>
            </tr>
         <tr class="table-success">
                <td>hello_php</td>
                <td>Misc</td>
                <td>68</td>
                <td>U6173934</td>
                <td>否</td>
                <td>130</td>
            </tr>
         <tr class="table-success">
                <td>babymaze1</td>
                <td>Misc</td>
                <td>68</td>
                <td>U6173934</td>
                <td>否</td>
                <td>130</td>
            </tr>
         <tr class="table-success">
                <td>ezcms</td>
                <td>Web</td>
                <td>68</td>
                <td>U6173934</td>
                <td>否</td>
                <td>130</td>
            </tr>
        </thead>
        </table>
        </div>


    </div>
        {% else %}
{#         <div class="row">#}
{#        <div class="col-md-12 text-right" style="height: 40px">#}
{#            <a href="#">加入队伍</a>#}
{#        </div>#}
{#        </div>#}
        <div class="row">
        <div class="col-md-12 jumbotron-fluid">
            <p class="text-center">您还未加入队伍！请选择创建队伍或者加入队伍</p>
        </div>
        <div class="col-md-12">
            <!-- 按钮：用于打开模态框 -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#creat_group">
            创建队伍
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#search_group">
            加入队伍
            </button>

<!-- 模态框 -->
<div class="modal fade" id="creat_group">
    <div class="modal-dialog">
        <div class="modal-content">
      <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">创建队伍</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      <!-- 模态框主体 -->
            <div class="modal-body">

                       <label for="demo">请输入您想创建的队伍名:</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="队伍名"  name="groupname" id="groupname">
                </div>
                <label for="demo">队伍简介:</label>
                <div class="input-group mb-3">
                    <textarea type="text"  class="form-control" placeholder="简介"  name="groupinfo" id="groupinfo"></textarea>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="creat_group()">创建</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
                       <!-- 按钮：用于打开模态框 -->


<!-- 模态框 -->
<div class="modal fade" id="search_group">
    <div class="modal-dialog">
        <div class="modal-content">
      <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">创建队伍</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      <!-- 模态框主体 -->
            <div class="modal-body">
                <label for="search">搜索队伍:</label>
               <div class="input-group mb-3">
                   <input type="text" class="form-control" placeholder="Search">
                   <div class="input-group-append">
                       <button class="btn btn-success" type="submit" onclick="search_group()">Go</button>
                   </div>
               </div>
                <div class="list-group">
    <li href="#" class="list-group-item list-group-item-success col-md-8"><span>JJUCTF</span><a><button class="btn btn-dark col-md-3">申请加入</button></a></li>

  </div>

            </div>
        </div>
    </div>
</div>
        </div>
        </div>
    {% endif %}
</div>
<script>
    function creat_group(){
        var groupName = document.getElementById('groupname').value;
        var groupInfo = document.getElementById('groupinfo').value;
        {#alert(groupInfo);#}
        {#alert(groupName);#}
        $.ajax({
                url: "/create_group",
                type: "post",
                data: {"groupname": groupName,"groupinfo":groupInfo},
                success: function (result) {
                    if (result == "1") {
                        alert("创建成功！");
                        window.location.reload()
                    }
                    else{
                        alert("创建失败，请换一个队名再试试！")
                    }},
             error:function () {
                alert("发送请求失败，请检查网络连接窗台");
            }

            }
        )
}
</script>
{% include 'user/footer.html' %}