{% include 'user/header.html' %}
<div class="container-fluid">
{% if group_id !=0 %}
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group">
                    <li class="list-group-item list-group-item-dark">队伍信息</li>
                    <li class="list-group-item">队伍名称: <span>{{ groupinfo[1] }}</span></li>
                    <li class="list-group-item">队伍ID:<span>{{ groupinfo[0] }}</span></li>
                    <li class="list-group-item">队伍简介:<span>{{ groupinfo[3] }}</span></li>
                    <li class="list-group-item">队伍token:<span>{{ groupinfo[2] }}</span></li>
                </ul>
                    <br>
                </div>
                <div class="col-md-12">
                    <div class="btn-group">
                        <button class="btn btn-info">搜索队伍</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-danger">退出队伍</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-secondary text-light">
                            <h4 class="card-title ">队员信息</h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-center table-bordered">
                            <thead>
                                <tr>
                                <th>队员名称</th>
                                <th>职位</th>
                            </tr>
                                {% for i in userGroupList %}
                            <tr >
                                <td>{{ i[0] }}</td>
                                {% if i[1]==0 %}
                                <td>队员</td>
                                {% else %}
                                <td>队长</td>{% endif %}
                            </tr>{% endfor %}
                        </thead>
                        </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <p></p>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-secondary text-light">
                            <h4 class="card-title">得分信息</h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                <tr class="">
                                    <th >题目名称</th>
                                    <th>题目类型</th>
                                    <th>题目分值</th>
                                    <th>解题人</th>
                                    <th>答对时间</th>
                                </tr>
                                {% for i in userScoreList %}
                                <tr >
                                    <td>{{ i[0] }}</td>
                                    {% if i[1]==0 %}<td>Web</td>{% elif i[1]==1 %}<td>Misc</td>{% elif i[1]==2 %}<td>Crypto</td>{% elif i[1]==3 %}<td>Reverse</td>{% else %}<td>Pwn</td>{% endif %}
                                    <td>{{ i[3] }}</td>
                                    <td>{{ i[2] }}</td>
                                    <td>{{ i[4] }}</td>
                                </tr>
                                {% endfor %}
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="row">
        <div class="col-md-12 jumbotron-fluid">
            <p class="text-center">您还未加入队伍！请选择创建队伍或者加入队伍</p>
        </div>
        <div class="col-md-12">
            <!-- 按钮：用于打开模态框 -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#creat_group">
            创建队伍
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#search_group">
            加入队伍
            </button>
        </div>
    </div>
<!-- 模态框 -->
<div class="modal fade" id="creat_group">
    <div class="modal-dialog">
        <div class="modal-content">
      <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">创建队伍</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      <!-- 模态框主体 -->
            <div class="modal-body">

                       <label for="demo">请输入您想创建的队伍名:</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="队伍名"  name="groupname" id="groupname">
                </div>
                <label for="demo">队伍简介:</label>
                <div class="input-group mb-3">
                    <textarea type="text"  class="form-control" placeholder="简介"  name="groupinfo" id="groupinfo"></textarea>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="creat_group()">创建</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
                       <!-- 按钮：用于打开模态框 -->


<!-- 模态框 -->
<div class="modal fade" id="search_group">
    <div class="modal-dialog">
        <div class="modal-content">
      <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">创建队伍</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      <!-- 模态框主体 -->
            <div class="modal-body">
                <label for="search">搜索队伍:</label>
               <div class="input-group mb-3">
                   <input type="text" class="form-control" placeholder="Search">
                   <div class="input-group-append">
                       <button class="btn btn-success" type="submit" onclick="search_group()">Go</button>
                   </div>
               </div>
                <div class="list-group">
                    <li href="#" class="list-group-item list-group-item-success col-md-8"><span>JJUCTF</span><a><button class="btn btn-dark col-md-3">申请加入</button></a></li>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endif %}
</div>
<script>
    function creat_group(){
        var groupName = document.getElementById('groupname').value;
        var groupInfo = document.getElementById('groupinfo').value;
        $.ajax({
                url: "/create_group",
                type: "post",
                data: {"groupname": groupName,"groupinfo":groupInfo},
                success: function (result) {
                    if (result == "1") {
                        alert("创建成功！");
                        window.location.reload()
                    }
                    else{
                        alert("创建失败，请换一个队名再试试！")
                    }},
             error:function () {
                alert("发送请求失败，请检查网络连接窗台");
            }

            }
        )
}
</script>
{% include 'user/footer.html' %}