{% include 'user/header.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-right">
            <a href="#">加入队伍</a>
        </div>
    </div>
<div class="row" style="height: 45rem;">
    <div class="col-md-4 ">

            <h3>队伍信息</h3>
        <div>队伍名称:JJU_SEC</div>
        <div>ID:204701675</div>
        <div>战队公告
            <p>
                jjusec
            </p>
        </div>


    </div>
    <div class="col-md-8">
    <h3>队员信息</h3>
 　　<table class="table table-center "  >
        <thead>
            <tr class="table-primary">
                <th >序号</th>
                <th>队员名称</th>
                <th>职位</th>
            </tr>
            <tr class="table-info table-active">
                <td>1</td>
                <td>hsm</td>
                <td>队长</td>
            </tr>
         <tr class="table-info">
                <td>2</td>
                <td>JJUSEC2</td>
                <td>队员</td>
            </tr>
         <tr class="table-info">
                <td>2</td>
                <td>JJUSEC2</td>
                <td>队员</td>
            </tr>
         <tr class="table-info">
                <td>2</td>
                <td>JJUSEC2</td>
                <td>队员</td>
            </tr>
        </thead>
    </table>

    </div>
</div>
</div>
{% include 'user/footer.html' %}