<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .border_contain{
            /*border:*/
            border: 1px solid green;
            margin: 4px;
        }

        .modal_marger{
            margin: 4px;
        }

        .font_Size{
            font-size: 20px;
        }
    </style>
    <meta charset="UTF-8">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/js/bootstrap.min.js">
<!--    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>-->
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <title>JJUCTF</title>
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">JJUCTF</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">CTF-Challenge<span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Exams</a></li>
                        <li><a href="ranks">Ranks</a></li>
                    </ul>


                    <ul class="nav navbar-nav navbar-right">
                        {% if username %}
                        <li><a href="#">{{ username }}</a></li>
                        {% endif %}
                        <li><a href="logout">退出</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>

