<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<div class="container">
			<a href="/" class="navbar-brand">
				JJUCTF
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#base-navbars"
					aria-controls="base-navbars" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="base-navbars">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/notifications">Notifications</a>
					</li>
						<li class="nav-item">
							<a class="nav-link" href="/users">Users</a>
						</li>



						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
							   aria-haspopup="true" aria-expanded="true">Scoreboard</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="/scoreboard">Single Scoreboard</a>
							</div>
						</li>


				</ul>

				<hr class="d-sm-flex d-md-flex d-lg-none">

				<ul class="navbar-nav ml-md-auto d-block d-sm-flex d-md-flex">
						<li class="nav-item">
							<a class="nav-link" href="/user">Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/settings">Settings</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/logout">Logout</a>
						</li>
				</ul>
			</div>
		</div>
	</nav>
