<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<script src="static/js/axios.min.js"></script>
    <script src="static/js/vue.js"></script>
    <script src="static/js/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="static/css/jjuctf.css">
   <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/js/bootstrap.min.js">
    <title>JJUCTF</title>
</head>
<body>

<div  class="container">
    <div class="row clearfix">
         <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">JJUCTF</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
{#                    <ul class="nav navbar-nav">#}
{#                        <li {% if headerType == "practice" %} class="active" {% endif %}><a href="/practice">CTF-Practice{% if headerType == "practice" %}<span class="sr-only">(current)</span> {% endif %}</a></li>#}
{#                        <li {% if headerType == "exam" %} class="active" {% endif %}><a href="/exams">Exams{% if headerType == "exam" %}<span class="sr-only">(current)</span> {% endif %}</a></li>#}
{#                        <li {% if headerType == "challenge" %} class="active" {% endif %}><a href="/challenges">CTF-Challenges{% if headerType == "challenfe" %}<span class="sr-only">(current)</span> {% endif %}</a></li>#}
{#                        <li {% if headerType == "awd" %} class="active" {% endif %}><a href="/awd">CTF-AWD{% if headerType == "awd" %}<span class="sr-only">(current)</span> {% endif %}</a></li>#}
{#                        <li {% if headerType == "rank" %} class="active" {% endif %}><a href="/ranks">Ranks{% if headerType == "rank" %}<span class="sr-only">(current)</span> {% endif %}</a></li>#}
{#                    </ul>#}
                   <ul class="nav navbar-nav">
                        <li  {% if headerType == "practice" %} class="active" {% endif %}><a href="/practice">CTF-Practice{% if headerType == "practice" %}<span class="sr-only">(current)</span> {% endif %}</a></li>
                        <li {% if headerType == "exam" %} class="active" {% endif %}><a href="/exams">Exams{% if headerType == "exam" %}<span class="sr-only">(current)</span> {% endif %}</a></li>
                        <li {% if headerType == "challenge" %} class="active" {% endif %}><a href="/challenges">CTF-Challenges{% if headerType == "challenfe" %}<span class="sr-only">(current)</span> {% endif %}</a></li>
                        <li {% if headerType == "awd" %} class="active" {% endif %}><a href="/awd">CTF-AWD{% if headerType == "awd" %}<span class="sr-only">(current)</span> {% endif %}</a></li>
                        <li {% if headerType == "rank" %} class="active" {% endif %}><a href="/ranks">Ranks{% if headerType == "rank" %}<span class="sr-only">(current)</span> {% endif %}</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                           {% if username %}
                        <li><a href="#">{{ username }}</a></li>
                        <li><a href="logout">退出</a></li>
                           {% else %}
                               <li><a href="login">登录</a></li>
                           {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
{#警告信息#}
  {% if message %}
    <script language="JavaScript"> alert("{{ message}}")</script>
{% endif %}
    <script>

        new Vue({
            el:"#nav",
            date:{
                title:"JJUCTF",
                navList:{"name":{"CTF-Practice":"url","Exams":"url","CTF-Challenges":"url","CTF-AWD":"url","Ranks":"url"}}

            }
        })
    </script>

