{% include'user/header.html' %}
<div class="row col-md-12 jumbotron">
        <h1>
            JJUCTF
        </h1>
        <p>
            由jjuctf团队搭建的网络安全靶场
        </p>
    </div>
<div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
               WEB
            </h3>
        </div>
    </div>
    <div class="row clearfix">
    {% if challengeResult %}
    {% for i in challengeResult %}
    {% if i[4]==0 %}

        <div class="col-md-3 column border_contain"  >
            <h2>{{ i[1] }}</h2>
            <p>{{ i[3] }}</p>
            <p>
                <a class="btn" href="#"></a>
            <button class="btn btn-primary btn-default btn-block" data-toggle="modal" data-target="#{{ i[0] }}">
                挑战
            </button>
        </div>
            <!-- 模态框（Modal） -->
    <div class="modal fade" id="{{ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{ i[1] }}</h4>
                </div>
                <div class="modal-body container">
                        <div class="row row-no-gutters modal_marger">
{#                            <div class="col-md-12">#}
{#                                <h2> {{ i[1] }}</h2>#}
{#                            </div>#}
                            <div class="col-md-12 text-success font_Size">
                                Hint:{{ i[3] }}
                            </div>
                            <div class="row row-no-gutters  font_Size modal_marger">
                                <div class="col-md-12 col-lg-12  ">
                                  <button type="button " class="btn btn-primary" > 点击开启实例</button>
                                </div>
                            </div>
                           {% if i[9] %}
                                <div class="row row-no-gutters font_Size modal_marger ">
                                <div class="col-md-12 col-lg-12">题目附件:</div>
                                <a class="col-md-2 col-lg-1 modal_marger" href="static/{{ i[9] }}">附件1</a>
                            </div>
                               {% endif %}
                            <div class="row row-no-gutters font_Size modal_marger">
                                <div class="input-group col-md-12 modal_marger">
                                    <input   type="text" autocomplete="off" placeholder="flag.." >
                                </div>
                                <div class="col-md-12 modal_marger">
                                    <button class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                </div>

            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->
    {% endif  %}
    {% endfor %}
    {% endif %}
    </div>
        <div class="row clearfix">
            <div class="col-md-12  column  ">
                <h3 class="">MISC</h3>
            </div>
        </div>


    <div class="row clearfix">
        {% if challengeResult %}
        {% for i in challengeResult %}
        {% if i[4]==1 %}

        <div class="col-md-3 column border_contain"  >
            <h2>{{ i[1] }}</h2>
            <p>{{ i[3] }}</p>
            <p>

                <a class="btn" href="#"></a>
            <button class="btn btn-primary btn-default btn-block" data-toggle="modal" data-target="#{{ i[0] }}">
                挑战
            </button>
        </div>
                   <!-- 模态框（Modal） -->
    <div class="modal fade" id="{{ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{ i[1] }}</h4>
                </div>
                <div class="modal-body container">
                        <div class="row row-no-gutters modal_marger">
{#                            <div class="col-md-12">#}
{#                                <h2> {{ i[1] }}</h2>#}
{#                            </div>#}
                            <div class="col-md-12 text-success font_Size">
                                Hint:{{ i[3] }}
                            </div>
                            <div class="row row-no-gutters  font_Size modal_marger">
                                <div class="col-md-12 col-lg-12  ">
                                  <button type="button " class="btn btn-primary" > 点击开启实例</button>
                                </div>
                            </div>
                           {% if i[9] %}
                                <div class="row row-no-gutters font_Size modal_marger ">
                                <div class="col-md-12 col-lg-12">题目附件:</div>
                                <a class="col-md-2 col-lg-1 modal_marger" href="static/{{ i[9] }}">附件1</a>
                            </div>
                               {% endif %}
                            <div class="row row-no-gutters font_Size modal_marger">
                                <div class="input-group col-md-12 modal_marger">
                                    <input   type="text" autocomplete="off" placeholder="flag.." >
                                </div>
                                <div class="col-md-12 modal_marger">
                                    <button class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                </div>

            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->

        {% endif  %}
    {% endfor %}
    {% endif %}
    </div>




   <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
               Crypto
            </h3>
        </div>
    </div>
    <div class="row clearfix">
    {% if challengeResult %}
    {% for i in challengeResult %}
        {% if i[4]==2 %}

        <div class="col-md-3 column border_contain"  >
            <h2>{{ i[1] }}</h2>
            <p>{{ i[3] }}</p>
            <p>
                <a class="btn" href="#"></a>
            <button class="btn btn-primary btn-default btn-block" data-toggle="modal" data-target="#{{ i[0] }}">
                挑战
            </button>
        </div>

                               <!-- 模态框（Modal） -->
    <div class="modal fade" id="{{ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{ i[1] }}</h4>
                </div>
                <div class="modal-body container">
                        <div class="row row-no-gutters modal_marger">
{#                            <div class="col-md-12">#}
{#                                <h2> {{ i[1] }}</h2>#}
{#                            </div>#}
                            <div class="col-md-12 text-success font_Size">
                                Hint:{{ i[3] }}
                            </div>
                            <div class="row row-no-gutters  font_Size modal_marger">
                                <div class="col-md-12 col-lg-12  ">
                                  <button type="button " class="btn btn-primary" > 点击开启实例</button>
                                </div>
                            </div>
                           {% if i[9] %}
                                <div class="row row-no-gutters font_Size modal_marger ">
                                <div class="col-md-12 col-lg-12">题目附件:</div>
                                <a class="col-md-2 col-lg-1 modal_marger" href="static/{{ i[9] }}">附件1</a>
                            </div>
                               {% endif %}
                            <div class="row row-no-gutters font_Size modal_marger">
                                <div class="input-group col-md-12 modal_marger">
                                    <input   type="text" autocomplete="off" placeholder="flag.." >
                                </div>
                                <div class="col-md-12 modal_marger">
                                    <button class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                </div>

            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->

        {% endif  %}
    {% endfor %}
    {% endif %}
    </div>


   <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
               Reverse
            </h3>
        </div>
    </div>
    <div class="row clearfix">
    {% if challengeResult %}
    {% for i in challengeResult %}
        {% if i[4]==3 %}

        <div class="col-md-3 column border_contain"  >
            <h2>{{ i[1] }}</h2>
            <p>{{ i[3] }}</p>
            <p>
                <a class="btn" href="#"></a>
            <button class="btn btn-primary btn-default btn-block" data-toggle="modal" data-target="#{{ i[0] }}">
                挑战
            </button>
        </div>

                               <!-- 模态框（Modal） -->
    <div class="modal fade" id="{{ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{ i[1] }}</h4>
                </div>
                <div class="modal-body container">
                        <div class="row row-no-gutters modal_marger">
{#                            <div class="col-md-12">#}
{#                                <h2> {{ i[1] }}</h2>#}
{#                            </div>#}
                            <div class="col-md-12 text-success font_Size">
                                Hint:{{ i[3] }}
                            </div>
                            <div class="row row-no-gutters  font_Size modal_marger">
                                <div class="col-md-12 col-lg-12  ">
                                  <button type="button " class="btn btn-primary" > 点击开启实例</button>
                                </div>
                            </div>
                           {% if i[9] %}
                                <div class="row row-no-gutters font_Size modal_marger ">
                                <div class="col-md-12 col-lg-12">题目附件:</div>
                                <a class="col-md-2 col-lg-1 modal_marger" href="static/{{ i[9] }}">附件1</a>
                            </div>
                               {% endif %}
                            <div class="row row-no-gutters font_Size modal_marger">
                                <div class="input-group col-md-12 modal_marger">
                                    <input   type="text" autocomplete="off" placeholder="flag.." >
                                </div>
                                <div class="col-md-12 modal_marger">
                                    <button class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                </div>

            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->
        {% endif  %}
    {% endfor %}
    {% endif %}
    </div>

   <div class="row clearfix">
        <div class="col-md-12 column">
            <h3>
               Pwn
            </h3>
        </div>
    </div>
    <div class="row clearfix">
    {% if challengeResult %}
    {% for i in challengeResult %}
        {% if i[4]==4 %}

        <div class="col-md-3 column border_contain"  >
            <h2>{{ i[1] }}</h2>
            <p>{{ i[3] }}</p>
            <p>
                <a class="btn" href="#"></a>
            <button class="btn btn-primary btn-default btn-block" data-toggle="modal" data-target="#{{ i[0] }}">
                挑战
            </button>
        </div>
                               <!-- 模态框（Modal） -->
    <div class="modal fade" id="{{ i[0] }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{ i[1] }}</h4>
                </div>
                <div class="modal-body container">
                        <div class="row row-no-gutters modal_marger">
{#                            <div class="col-md-12">#}
{#                                <h2> {{ i[1] }}</h2>#}
{#                            </div>#}
                            <div class="col-md-12 text-success font_Size">
                                Hint:{{ i[3] }}
                            </div>
                            <div class="row row-no-gutters  font_Size modal_marger">
                                <div class="col-md-12 col-lg-12  ">
                                  <button type="button " class="btn btn-primary" > 点击开启实例</button>
                                </div>
                            </div>
                           {% if i[9] %}
                                <div class="row row-no-gutters font_Size modal_marger ">
                                <div class="col-md-12 col-lg-12">题目附件:</div>
                                <a class="col-md-2 col-lg-1 modal_marger" href="static/{{ i[9] }}">附件1</a>
                            </div>
                               {% endif %}
                            <div class="row row-no-gutters font_Size modal_marger">
                                <div class="input-group col-md-12 modal_marger">
                                    <input   type="text" autocomplete="off" placeholder="flag.." >
                                </div>
                                <div class="col-md-12 modal_marger">
                                    <button class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                </div>

            </div><!-- /.modal-content -->
        </div>
    </div> <!-- /.modal -->
        {% endif  %}
    {% endfor %}
    {% endif %}
    </div>







{% include'user/footer.html' %}






{##}
{#<script>#}
{#    $('button').click(function (){#}
{#        $.ajax({#}
{#            url:"/ajax",#}
{#            type:"post",#}
{#            data:{"name":"李四","score":99},#}
{#            success:function (d) {#}
{#                $("h1").html("ajax请求成功："+d)#}
{#            },#}
{#            error:function () {#}
{#                alert("发送请求失败")#}
{#            }#}
{#            }#}
{#        )#}
{#    })#}
{#</script>#}
