{% include'user/header.html' %}

{#{% include 'map/world.html' %}#}
{#<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>#}
{#<div class="row clearfix">#}
{#		<div class="col-md-12 column">#}
{#			<div class="page-header">#}
{#				<h1>#}
{#					JJUSEC - CTF <small>九江学院信息安全协会</small>#}
{#				</h1>#}
{#			</div>#}
{#			<h2>#}
{#				由九江学院信息安全团队打造的网络安全靶场平台#}
{#			</h2>#}
{##}
{#		</div>#}
{#	</div>#}
{#	<div class="row clearfix">#}
{#		<div class="col-md-12 column">#}
{#			<h3>#}
{#				最新比赛#}
{#			</h3>#}
{#		</div>#}
{##}
{#	</div>#}
{#    <div class="row clearfix">#}
{#        <div class="col-md-6">#}
{#            <div class="panel panel-default">#}
{#                <div class="panel-heading">比赛通知#}
{#                </div>#}
{#                <div class="panel-body">#}
{#                2020年xxx比赛于12.12开始#}
{#                </div>#}
{#            </div>#}

{#            <div class="panel panel-default">#}
{#                <div class="panel-heading">#}
{#                    <h3 class="panel-title">Panel title</h3>#}
{#                </div>#}
{#                <div class="panel-body">#}
{#                Panel content#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-6">#}
{#            其他#}
{#        </div>#}
{#    </div>#}


{% include'user/footer.html' %}
{##}




