{% include 'user/header.html' %}

{#   <div class="row">#}
{#       <div class="panel panel-default">#}
{#           <!-- Default panel contents -->#}
{#           <div class="panel-heading">#}
{#               排行榜#}
{#           </div>#}

           <!-- Table -->
           <table class="table table-bordered">
               <thead>
               <tr>
                   <th>排名</th>
                   <th>用户</th>
                   {% for i in ChallengeList %}
                       <th>{{ i[1] }}</th>
                   {% endfor %}
               </tr>
               </thead>
           <tbody>
           {% for i in userNum %}
               <tr>
                   <td>{{ a }}</td>
                   <td>{{ i[1] }}</td>
                   {% for j in ChallengeList %}
                   <td>0</td>
                   {% endfor  %}
               </tr>
           {% endfor %}
           </tbody>
           </table>
{#       </div>#}
{#   </div>#}


{##}
{#<table class="table">#}
{#	<caption>基本的表格布局</caption>#}
{#   <thead>#}
{#      <tr>#}
{#         <th>名称</th>#}
{#         <th>城市</th>#}
{#      </tr>#}
{#   </thead>#}
{#   <tbody>#}
{#      <tr>#}
{#         <td>Tanmay</td>#}
{#         <td>Bangalore</td>#}
{#      </tr>#}
{#      <tr>#}
{#         <td>Sachin</td>#}
{#         <td>Mumbai</td>#}
{#      </tr>#}
{#   </tbody>#}
{#</table>#}
{#<table class="table table-striped">#}
{#  <caption>条纹表格布局</caption>#}
{#  <thead>#}
{#    <tr>#}
{#      <th>名称</th>#}
{#      <th>城市</th>#}
{#      <th>邮编</th>#}
{#    </tr>#}
{#  </thead>#}
{#  <tbody>#}
{#    <tr>#}
{#      <td>Tanmay</td>#}
{#      <td>Bangalore</td>#}
{#      <td>560001</td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>Sachin</td>#}
{#      <td>Mumbai</td>#}
{#      <td>400003</td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>Uma</td>#}
{#      <td>Pune</td>#}
{#      <td>411027</td>#}
{#    </tr>#}
{#  </tbody>#}
{#</table>#}

{% include 'user/footer.html' %}