{% include 'user/header.html' %}
<div  class="container-fluid" >
{#   <div class="row">#}
{#       <div class="panel panel-default">#}
{#           <!-- Default panel contents -->#}
{#           <div class="panel-heading">#}
{#               排行榜#}
{#           </div>#}
<script src="https://cdn.jsdelivr.net/npm/echarts@5.0.0/dist/echarts.min.js">

</script>
<div class="row ">
    <div class="col-md-12 ">
        <div id="main"  style="width: 100%;height:400px;"></div>
    </div>

</div>
           <!-- Table -->

<div class="row" >
     <div class="col-md-12">
           <div class="table">
           <table class="table table-bordered">
               <thead class="table-bordered">
               <tr class="success">
                   <th>排名</th>
                   <th>战队</th>
               <th>解题数量</th>
                   <th>积分</th>
               </tr>
               </thead>
           <tbody>
               <tr>
                   <td>1</td>
                   <td>JJUSEC</td>
                   <td>10</td>
                   <td>1000</td>
               </tr>
               <tr>
                    <td>2</td>
                   <td>JJUSEC2</td>
                   <td>9</td>
                   <td>900</td>
               </tr>
               <tr>
                    <td>2</td>
                   <td>JJUSEC2</td>
                   <td>9</td>
                   <td>900</td>
               </tr>
                <tr>
                    <td>2</td>
                   <td>JJUSEC2</td>
                   <td>9</td>
                   <td>900</td>
               </tr>
                <tr>
                    <td>2</td>
                   <td>JJUSEC2</td>
                   <td>9</td>
                   <td>900</td>
               </tr>
               <tr>
                    <td>2</td>
                   <td>JJUSEC2</td>
                   <td>9</td>
                   <td>900</td>
               </tr>
                <tr>
                    <td>2</td>
                   <td>JJUSEC2</td>
                   <td>9</td>
                   <td>900</td>
               </tr>
           </tbody>
           </table>
       </div>
     </div>
</div>
{#       </div>#}
{#   </div>#}


<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
    title: {
        text: '战绩'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data: ['hsm', 'llz', 'user', 'admin1', 'admin']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: ['8:00', '8:30', '9:00', '9:30', '10:00', '10:30', '11:00']
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            name: 'hsm',
            type: 'line',
            stack: '总量',
            data: [100, 150, 300, 400, 400, 600, 700]
        },
        {
            name: 'llz',
            type: 'line',
            stack: '总量',
            data: [0, 100, 150, 150, 200, 400, 500]
        },
        {
            name: 'user',
            type: 'line',
            stack: '总量',
            data: [0, 0, 0, 0, 50, 150, 200]
        },
        {
            name: 'admin1',
            type: 'line',
            stack: '总量',
            data: [100, 100, 200, 450, 750, 750, 750]
        },
        {
            name: 'admin',
            type: 'line',
            stack: '总量',
            data: [100, 100, 100, 300, 350, 350, 350]
        }
    ]
};

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>


{##}
{#<table class="table">#}
{#	<caption>基本的表格布局</caption>#}
{#   <thead>#}
{#      <tr>#}
{#         <th>名称</th>#}
{#         <th>城市</th>#}
{#      </tr>#}
{#   </thead>#}
{#   <tbody>#}
{#      <tr>#}
{#         <td>Tanmay</td>#}
{#         <td>Bangalore</td>#}
{#      </tr>#}
{#      <tr>#}
{#         <td>Sachin</td>#}
{#         <td>Mumbai</td>#}
{#      </tr>#}
{#   </tbody>#}
{#</table>#}
{#<table class="table table-striped">#}
{#  <caption>条纹表格布局</caption>#}
{#  <thead>#}
{#    <tr>#}
{#      <th>名称</th>#}
{#      <th>城市</th>#}
{#      <th>邮编</th>#}
{#    </tr>#}
{#  </thead>#}
{#  <tbody>#}
{#    <tr>#}
{#      <td>Tanmay</td>#}
{#      <td>Bangalore</td>#}
{#      <td>560001</td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>Sachin</td>#}
{#      <td>Mumbai</td>#}
{#      <td>400003</td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>Uma</td>#}
{#      <td>Pune</td>#}
{#      <td>411027</td>#}
{#    </tr>#}
{#  </tbody>#}
{#</table>#}
</div>
{% include 'user/footer.html' %}