{% include 'user/header.html' %}
<div  class="container-fluid" >
{#<script src="https://cdn.jsdelivr.net/npm/echarts@5.0.0/dist/echarts.min.js">#}
{#</script>#}
<br>
<div class="row ">
    <div class="col-md-offset-1 col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-center">CTF战况</h3>
            </div>
            <div class="card-body">
                <div id="main"  style="width: 100%;height:400px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-offset-1 col-md-1"></div>

</div>
<p></p>
<div class="row">
    <div class="col-md-offset-1 col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-center">CTF排行榜</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tr class="bg-info text-light">
                    <th>排名</th>
                    <th>战队</th>
                    <th>解题数量</th>
                    <th>积分</th>
                </tr>
                {% for i in range(1,getUserCTFChallengeListNum + 1)  %}
                <tr>
                    <td>{{ i }}</td>
                   <td>{{ getUserCTFChallengeList[i-1][0] }}</td>
                   <td>{{ getUserCTFChallengeList[i-1][2] }}</td>
                   <td>{{ getUserCTFChallengeList[i-1][1] }}</td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
    <div class="col-md-offset-1 col-md-1"></div>
    <div class="col-md-12"><h3 class="title text-center"></h3></div>
    <div class="col-md-offset-1 col-md-1 "></div>
    <div class="col-md-10" >
        <div>

        </div>
    </div>
    <div class="col-md-offset-1 col-md-1"></div>
</div>
{#       </div>#}
{#   </div>#}


<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
    title: {
        text: '战绩'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data: ['hsm', 'llz', 'user', 'admin1', 'admin']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    toolbox: {
        feature: {
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'category',
        boundaryGap: false,
        data: ['8:00', '8:30', '9:00', '9:30', '10:00', '10:30', '11:00']
    },
    yAxis: {
        type: 'value'
    },
    series: [
        {
            name: 'hsm',
            type: 'line',
            stack: '总量',
            data: [100, 150, 300, 400, 400, 600, 700]
        },
        {
            name: 'llz',
            type: 'line',
            stack: '总量',
            data: [0, 100, 150, 150, 200, 400, 500]
        },
        {
            name: 'user',
            type: 'line',
            stack: '总量',
            data: [0, 0, 0, 0, 50, 150, 200]
        },
        {
            name: 'admin1',
            type: 'line',
            stack: '总量',
            data: [100, 100, 200, 450, 750, 750, 750]
        },
        {
            name: 'admin',
            type: 'line',
            stack: '总量',
            data: [100, 100, 100, 300, 350, 350, 350]
        }
    ]
};

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</div>
{% include 'user/footer.html' %}