{% include 'user/header.html' %}
    {% if message %}
    <script language="JavaScript"> alert("{{ message}}")</script>
{% endif %}
    <form method="POST" taction="/regiser">
        <div class="form-signin">
          <h2 class="form-signin-heading" style="text-align: center">注册</h2>
            <!-- class="sr-only"将label标签隐藏 -->
            <input type="text" class="form-control"  placeholder="学号" name="uid">
            <br>
            <input type="text" class="form-control" placeholder="用户名" name="username">
            <br>
            <input type="test" class="form-control" placeholder="真实姓名" name="realname">
            <br>
            <input type="email" class="form-control" placeholder="邮箱" name="email">
            <br>
            <input type="test" class="form-control" placeholder="电话" name="mobile">
            <br>
            <input type="text" class="form-control" placeholder="班级" name="classid">
            <br>
            <input type="password" class="form-control" placeholder="密码" name="passwd">
            <br>
            <input type="password" class="form-control" placeholder="确认密码" name="passwd2">

{#            <input type="email" class="form-control" placeholder="用户名" name="email">#}
{#            <label for="exampleInputUsername" class="sr-only">手机</label>#}
{#            <input type="tel" class="form-control" id="exampleInputPhone" placeholder="手机">#}
{#            <div class="checkbox">#}
{#                <label>#}
{#                    <!--<input type="checkbox">#}
{#                    记住密码-->#}
{#                </label>#}
{#            </div>#}
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
        </div>
    </form>
{% include "user/footer.html" %}