<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
       <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js"></script>
</head>
<body>
<div id="t">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var url = location.href;
        var socket = io.connect(url);
        socket.on('test',function (res){
            {#alert(res);#}
            var t = res;
            if (t){
                $('#t').append(t).append('<br>');
            }
        })
        
    })
</script>

</body>
</html>